<footer>
    <div class="footer-container">
        <p class="p-developedby">Desarrollado por Eventos-UN</p>    
        <p class="p-allrights">Todos los derechos reservados ©</p>
    
    
    
        <div class="icons-social">
    
    
        <div class="icon-instagram">
            <a href="https://www.instagram.com/uneventounal/" target="_blank">
                <i class="fab fa-instagram icons-general" aria-hidden="true"></i>
            </a>
        </div>
    
        <div class="icon-x">
            <a href="https://twitter.com/UN_Evento" target="_blank">
              <i class="fab fa-twitter icons-general" aria-hidden="true"></i>
            </a>
        </div>
    
        <div class="icon-facebook">
            <a href="https://www.facebook.com/profile.php?id=61556540316957&sk=about " target="_blank">
                <i class="fab fa-facebook icons-general" aria-hidden="true"></i>
            </a>
        </div>
    
        <div class="icon-tik">
            <a href="https://www.tiktok.com/@uneventounal" target="_blank">
                <i class="fab fa-tiktok icons-general" aria-hidden="true"></i>
            </a>
        </div>
          
    </div>   
    </div>
    
    </footer>
    