<footer>
    <div class="footer-container">
        <p class="p-developedby">Desarrollado por UNevento </p>    
        <p class="p-allrights">Todos los derechos reservados ©</p>
        <div class="terms-container" *ngIf="!isTermsOfConditions()">
            <p class="p-terms" (click)="openTerms()">Términos y Condiciones</p>
        </div>    
        <div class="terms-container" *ngIf="!isTermsOfConditions()">
            <p class="p-terms" (click)="openTerms()">Términos y Condiciones</p>
        </div>    
        <div>
            <div class="manual-container">
                <p class="p-manual" (click)="openUserManual()"  *ngIf="!isUserManualRoute()">Manual de Usuario</p>
                <p class="p-manual" (click)="openFrequentlyAskedQuestions()" *ngIf="!isFrequentlyAskedQuestions()">Preguntas Frecuentes</p>
                <p class="p-manual" (click)="openContact()">Contáctanos</p>
            </div>
        </div>
        
    
        <div class="icons-social">
    
    
        <div class="icon-instagram">
            <a href="https://www.instagram.com/uneventounal/" target="_blank">
                <i class="fab fa-instagram icons-general" aria-hidden="true"></i>
            </a>
        </div>
    
        <div class="icon-x">
            <a href="https://twitter.com/UN_Evento" target="_blank">
              <i class="fab fa-twitter icons-general" aria-hidden="true"></i>
            </a>
        </div>
    
        <div class="icon-facebook">
            <a href="https://www.facebook.com/profile.php?id=61556540316957&sk=about " target="_blank">
                <i class="fab fa-facebook icons-general" aria-hidden="true"></i>
            </a>
        </div>
    
        <div class="icon-tik">
            <a href="https://www.tiktok.com/@uneventounal" target="_blank">
                <i class="fab fa-tiktok icons-general" aria-hidden="true"></i>
            </a>
        </div>
          
    </div>  

    </div>
    
    </footer>
    <router-outlet></router-outlet>
    