.footer-container{
    background-color:#1c1c1c;
    color: white;
    padding: 30px;
    width: 100%;
    text-align: center;
}


.p-developedby{
    font-family: "ancizar-regular";
    font-size: 20px;
}

.p-allrights{
    font-family: "ancizar-italic";
    font-size: 20px;
}

.icons-social{
    justify-content: center;
    display: flex;
}



.icon-facebook{
    margin-left: 20px;
}

.icon-x{
    margin-left: 20px;
}

.icon-tik{
    margin-left: 20px;
}


.icons-general{
    color:  #acff07;
}


.icons-general:hover{
    color: #363935;
}
