.footer-container{
    background-color:#1c1c1c;
    color: white;
    padding: 30px;
    width: 100%;
    text-align: center;
}

.terms-container{
    width: auto;
}

.p-terms{
    font-family: 'approach-light-italic';
    cursor: pointer;
    text-decoration: underline;
    transition: color 0.5s ease; /* Añade esta línea */
}

.p-terms:hover{
    color: #acff07;
}


.p-developedby{
    font-family: "approach-regular";
    font-size: 20px;
}

.p-allrights{
    font-family: "approach-light-italic";
    font-size: 20px;
}
.p-manual{
    font-family: "approach-regular";
    font-size: 16px;
    color: #363935;
    text-align: center;
    align-items: center;
    padding: 7px;
    background-color: #acff07;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease; /* Añade esta línea */
    margin: 5px;
}

.p-manual:hover{
    background-color: #363935;
    border: solid 0.5px #acff07;
    color: #acff07;
}

.manual-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.icons-social{
    justify-content: center;
    display: flex;
}



.icon-facebook{
    margin-left: 20px;
}

.icon-x{
    margin-left: 20px;
}

.icon-tik{
    margin-left: 20px;
}


.icons-general{
    color:  #acff07;
}


.icons-general:hover{
    color: #363935;
}
