
.containerbackground {
  height: 100vh;
  width: 100%;
  opacity: 1;
  background-image: url('../../../assets/img-singup/ciencias.JPG');
  background-size: cover; 
  background-position: center;
  justify-content: center; 
  display: flex;
}
.containerRegister{
  width:40%;
  min-height: auto;
  border-radius: 10px; /* Ajusta este valor según tus necesidades */
  background-color: white;
  margin: 30px;
  box-sizing: border-box;
  padding: 20px;
  overflow: auto;
  box-shadow: 0px 8px 15px rgba(255, 255, 255, 1);
  background-image: url('../../../assets/backgrounds/FondoCirculos.jpeg');
  background-size: cover; 
  background-position: center;
}
@media screen and (max-width: 900px) {
  .containerRegister {
    width: 70%;
  }
}

input{
  font-family: 'approach-regular';
  border-radius: 5px;
  border: solid 0.05px #9d9494;
  padding-left: 5px;
}
label{
  font-family: 'approach-regular';
}
.text-welcome{
  font-family: 'approach-regular';
  text-align: center;

}

.container-div{
  margin: auto auto;
  border-radius: 1.4rem;
  width: 40%;

}
  .container-logo-sing{
    text-align: center;
  }
  .logo-sing{
    height: auto;
    width: 50%;
  }
  .container-tittle-singUp{
    width: 50%;
   
}


  .tittle-singUp{
    font-family: "approach-bold";
    text-align: center;
    font-size: 28px;
  }
  .container-img{
    display: grid;
    justify-content: flex-end;
    width: 70%;
    margin-top: 4%;
    margin-left: 6%;
    height:30%;


  }
  .img-singUp{
    width:125%;

    object-fit: cover;
    height: 100%;
    border-radius: 0.3rem ;


  }
  /*input syles*/
  .inputs-singUp{
    width: 70%;
  
    margin-left: 15%;

  }
  
  .inputs-total{
    margin-top: 8%;
  }


  .password-toggle {
  
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.input-field {
  margin: auto auto;
  margin-bottom: 20px;
  width: 80%;
  position: relative; 
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%; 
  transform: translateY(-50%); 
  cursor: pointer;
}

.password-toggle i {
  color: #777;
  font-size: 16px;
}

  .input-global{
    width: 100%;
    outline: unset;
    height: 40px;
  }
  .terminos-condiciones{
    margin-left: 10px;
    font-size: 12px;
  }
    .container-btn{
  text-align: center;
    }

.btn-aceptar {
  background-color: white;
  color: #85d450;
  width: auto;
  border-radius: 5px;
  border: 0.5px solid #9d9494;
  transition: all 0.3s ease;
  font-family: 'approach-bold';
  padding: 10px;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.1); 
  margin-bottom: 5px;
}

.btn-aceptar:hover {
  background-color: #85d450;
  color: white;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
}
.div-check{
  display: flex;
}








