
.containerSingup {
  height: 100vh;
  position: absolute;
  width: 100%;
  opacity: 1;
  z-index: 2; /* Cambiado a 2 */
  background-image: url('../../../assets/img-singup/ciencias.JPG');
  background-size: cover; 
  background-position: center; 

}

.fullWidthBackground {
  position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
  
} 

.container-div{

  margin: auto auto;
  border-radius: 1.4rem;
  width: 40%;
  margin-top: 70px;
}
  .container-logo-sing{
    text-align: center;
  }
  .logo-sing{
    height: 100px;
    width: 250px;
  }
  .container-tittle-singUp{
    width: 50%;
   
}

  .tittle-singUp{
    font-family: "approach-bold";
    text-align: center;
    font-size: 28px;
  }
  .container-img{
    display: grid;
    justify-content: flex-end;
    width: 70%;
    margin-top: 4%;
    margin-left: 6%;
    height:30%;


  }
  .img-singUp{
    width:125%;

    object-fit: cover;
    height: 100%;
    border-radius: 0.3rem ;


  }
  /*input syles*/
  .inputs-singUp{
    width: 70%;
  
    margin-left: 15%;

  }
  
  .inputs-total{
    margin-top: 8%;
  }


  .password-toggle {
  
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.input-field {
  margin: auto auto;
  margin-bottom: 20px;
  width: 300px;
  position: relative; 
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%; 
  transform: translateY(-50%); 
  cursor: pointer;
}

.password-toggle i {
  color: #777;
  font-size: 16px;
}

  .input-global{
    width: 100%;
    outline: unset;
    height: 40px;
  }
  .terminos-condiciones{
    margin-left: 10px;
    font-size: 12px;
  }
    .container-btn{
  text-align: center;
    }

.btn-aceptar{
  background-color: #85d450;
  color: #081f02;

  width: 200px;
}
.div-check{
  display: flex;
}



  @media screen and (max-width:1200px){
  .tittle-singUp{
       width: 100%;
       margin: auto  auto;
       justify-content: center;
       text-align: center;
       
    }
    .inputs-total,.input-field{
      width: 100%;

    }
    .inputs-singUp{
 
      margin-top: 10%;
    }

    .inputs-total{
      width: 100%;
    }

.container-div{
  width: 100%;
}    


    
  }




