
.containerSingup {
  background-color: #ffffff;
  background-size: cover; 
  background-position: center; 
  height: 100vh;
  position: absolute;
  width: 100%;
  opacity: 1;
  z-index: 1;
}

.fullWidthBackground {
	position: fixed;
	top: 0;
	left: 0;
	width: 90%;
	height: 100%;
  } 
  .containerbackground{
    width: 100%;
    height: 100%;
  }

  .square {
    width: 100px;
    height:1000px;
    background-color: #000000; 
    position: absolute;
    z-index: 2;
   
    
}
.square1{
 position: absolute;
  width: 50px;
  height:1000px;
  background-color: #8dcc00;
  z-index: 2;
  left: 0;

}
.square2 {
  width: 100px;
  height: 1000px;
  background-color: #000000;
  position: absolute;
  z-index: 2;
  right: 0; /* Posición inicial a la izquierda */
}
.containerbackground{
  width: 100%;
  height: 100%;
}

.square3 {
  position: absolute;
  width: 50px;
  height: 1000px;
  background-color: #8dcc00;
  z-index: 2;
  right: 0; /* Posición inicial a la derecha */
}


.card-sing {
    margin: auto auto;
    width: 90%;
    margin-left: 10%;
    height: 90%;
    margin-top: 2%;
    background-color: #fff;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Añade esto para que el z-index funcione */
    z-index: 2; /* Cambiado a 2 */
}

  .container-tittle-singUp{
      width: 50%;
  }
  .tittle-singUp{
    
    font-family: "ancizar-bold-italic";
    text-align: center;
    font-size: 38px;
  }
  .container-div{
    display: flex;
    width: 80%;
    margin-top: 2%;
  }
  .container-img{
    display: grid;
    justify-content: flex-end;
    width: 70%;
    margin-top: 4%;
    margin-left: 6%;
    height:30%;


  }
  .img-singUp{
    width:125%;

    object-fit: cover;
    height: 100%;
    border-radius: 0.3rem ;


  }
  /*input syles*/
  .inputs-singUp{
    width: 70%;
    margin-top: 9%;
    margin-left: 15%;

  }
  
  .inputs-total{
    margin-top: 8%;

  
  }
  .input-field{
    margin: auto auto;
    margin-bottom: 20px;
    width: 300px;
  }
  .input-global{
    width: 100%;
    outline: unset;
    height: 40px;
  }
  .terminos-condiciones{
    font-size: 12px;
  }
    .container-btn{
  text-align: center;
    }

.btn-aceptar{
  background-color: #000000;
  color: #fff;

  width: 200px;
}


  @media screen and (max-width:700px){

    .img-singUp{
      display: none;
    }
    .card-sing {
      width: 90%;
    }
    .tittle-singUp{
       width: 100%;
       margin: auto  auto;
       justify-content: center;
       text-align: center;
       
    }
  

    .inputs-total,.input-field{
      width: 100%;

    }



    .inputs-singUp{
 
      margin-top: 10%;
    }

    .inputs-total{
      margin: auto auto;
    }

    .card-sing{
      width: 95%;
    }

    .square3{
      width: 0%;
      margin: auto auto;
      position: inherit;
    }


    .square1{
      position: inherit;
     
     }
     .square2,.square {
      position: inherit;
    /* Posición inicial a la izquierda */
     }

  }




