.navbar {

    background-color:#333; /* Ajusta el último valor para la opacidad deseada */
    justify-content: space-between;
  }
.logo{
    width: 100px;
    margin-left: 40px;
}
.brand{
    margin-left: 5%;
}
.container-navbar{
    justify-content: end;
    margin-right: 5%;
}
.nav-link, .navbar-brand{
    color: white;
    font-family: "ancizar-regular";
    cursor: pointer;
}
.nav-link{
    font-size: 18px;
}
.btn-search{
    color: white;
    background-color: transparent;
    border-color: white;
}
.btn-search:hover{
    color: white;
    background-color: transparent;
    border-color: white;
}
.nav-link:hover, .navbar-brand:hover{
    color: #acff07;
    font-family: "ancizar-regular";
    cursor: pointer; 
}