.community-events {
    background-image: url('../../assets/backgrounds/FondoBlancoConHexagonos.jpeg');
    /* additional background properties */

}
.TituloComEvents{
    text-align: center;
    font-family: 'approach-black';
    margin-top: 30px;
    font-size: 2rem;
}
.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 24px;
    padding: 24px;
    flex-wrap: wrap;
  }

.MensajeVacio{
    text-align: center;
    font-family: 'approach-regular';
    margin-top: 30px;
    font-size: 1.5rem;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 1.6;
}
.pagination{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 5px;
    font-family: 'approach-regular';
    margin-bottom: 10px;
}
.PreviousButton {
    background-color: #0b28cb;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    height: auto;
    font-family: 'approach-black';
  }
  
.PreviousButton:hover {
    background-color: #868282;
    color: black;
}
.NextButton {
    background-color: #a1cb0b;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    height: auto;
    font-family: 'approach-black';
  }
  
.NextButton:hover {
    background-color: #a7a3a3;
    color: black;
}
