<app-navbar></app-navbar>
<div class="community-events">
    <h1 class="TituloComEvents">Eventos de la Comunidad</h1>

    <!-- <div class="filter">
        <select>
            <option value="option1">Opción 1</option>
            <option value="option2">Opción 2</option>
            <option value="option3">Opción 3</option>
        </select>
        <button>Aplicar</button>
    </div> -->
    <div class="wrap">
        <app-card-communityevents *ngFor="let event of events" [data]="event"></app-card-communityevents>
    </div>
</div>
<app-footer></app-footer>