.navbar {
    background-color:#ffffff; /* Ajusta el último valor para la opacidad deseada */
    justify-content: space-between;
    height:90px;
    opacity: 0.9;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adjust values for the desired shadow effect */

  }

  .navbar-nav > li {
    margin-right: 40px; /* Ajusta este valor según sea necesario para obtener el espacio deseado */
    font-size: 60px;
}

.logo{
    width: 8%;
    height: 8%;
    margin-left: 1%;

    
}
.brand{
    margin-left: 3%;
}
.container-navbar{
    justify-content: end;
    margin-right: 1%;
}
.nav-link, .navbar-brand{
    color: rgb(0, 0, 0);
    font-family: "approach-medium";
    cursor: pointer;
    font-size: 32%;
}


.nav-link:hover, .navbar-brand:hover{
    color: #acff07;
    font-family: "approach-medium";
    cursor: pointer; 
}

.prenavbar{
    background-color:rgb(242, 242, 242);
    padding: 5px;
    height: 34px;
    width: 100%;
    text-align: center;
    box-shadow: 15px 100px 16px rgba(0, 0, 0, 0.2); /* Adjust values for the desired shadow effect */
}


.p-developedby{
    font-family: "ancizar-regular";
    font-size: 20px;
}

.p-allrights{
    font-family: "ancizar-italic";
    font-size: 20px;
}

.icons-social{
    justify-content: center;
    display: flex;
}



.icon-facebook{
    margin-left: 20px;
}

.icon-x{
    margin-left: 20px;
}

.icon-tik{
    margin-left: 20px;
}


.icons-general{
    color:  #000000;
}


.icons-general:hover{
   color: #acff07;
}
