
<div class="nft">
  <div class='main'>
    <img class='tokenImage' src="../../../assets/img-home/Facultad Humanas.JPG" alt="NFT" />
    <h2 class="card-title">{{data.Titulo}}</h2>
    <p class='card-description'><strong>Descripción del Evento:</strong> {{data.Descripcion}}</p>
    <div class='tokenInfo'>
      <strong>Fecha:  </strong>{{data.Fecha}}
      <strong>Hora:  </strong>{{data.Hora}}
      <br>
      <strong>Lugar:  </strong>{{data.Lugar}}
      <br>
      <strong>Aforo:  </strong>{{data.Aforo}}
      <br>
      <strong>Categoría:  </strong>{{data.Categoria}}
      <br>
    </div>
    <hr />
   <div class='creator'>
      <div class='wrapper'>
        <img src="../../../assets/img-home/Facultad Artes.JPG" alt="Creator" />
      </div> 
      <p><ins>Creado por </ins>{{data.User}}</p>
    </div>
  </div>
</div>
