<app-navbar></app-navbar>

<div class="container">
    <div class="edit-profile">
   <h1 class="profile-title">Editar Información de Perfil de Usuario</h1>
    <div class="profile-edit-info">
        <div class="photo">
            <br>
            <input type="file" id="file-upload" name="file-upload" accept="image/*" (change)="handleImageUpload($event)" style="display: none;"><!-- Aceptar Solo Imágenes -->
            <label for="file-upload" class="custom-file-upload">
                Editar Foto de Perfil
            </label>
            <div class="profile-photo">
                <div *ngIf="imageSrc" class="ImagenSeleccionada">
                    <img [src]="imageSrc" alt="Vista previa de la imagen" style="max-width: 100%;">
                </div>
            </div>
        </div>
        <div class="data">
            <form (ngSubmit)="updateData()">
                <div class="input-form">
                    <h2 class="profile-subtitle">Nombre:</h2>
                    <input
                        id="username"
                        value="{{userData.nombre}}"
                        type="text"
                        placeholder="Nombre de Usuario"
                        class="form-control"
                        name="NuevoNombre"
                        [(ngModel)]="NuevoNombre"
                        (keypress)="alphaOnly($event)"
                    />
                </div>
                <div class="input-form">
                    <h2 class="profile-subtitle">Apellido:</h2>
                    <input
                        id="userlastname"
                        type="text"
                        value="{{userData.apellido}}"
                        placeholder="Apellido del Usuario"
                        class="form-control"
                        name="NuevoApellido"
                        [(ngModel)]="NuevoApellido"
                        (keypress)="alphaOnly($event)"
                    />
                </div>

                <div class="button-editprofile-container">
                    <button type="submit" class="btn-save-profile">
                            <img src="../../../assets/img-buttons/Save.png" alt=""> Guardar Información
                    </button>
                </div> 
            </form>
        </div>
    </div>
  </div>
</div> 
<app-footer class="footer"></app-footer>
