<app-navbar></app-navbar>

<div class="container">
    <div class="edit-profile">
   <h1 class="profile-title">Editar Información de Perfil de Usuario</h1>
    <div class="profile-edit-info">
        <div class="profile-photo">
            <img src="../../../assets/img-profile/user-photo.png" style="width: 250px;" alt="">
        </div>
        <div class="data">
            <form (ngSubmit)="updateData()">
                <div class="input-form">
                    <h2 class="profile-subtitle">Nombre:</h2>
                    <input
                        id="username"
                        value="{{userData.nombre}}"
                        type="text"
                        placeholder="Nombre de Usuario"
                        class="form-control"
                        name="NuevoNombre"
                        [(ngModel)]="NuevoNombre"
                        (keypress)="alphaOnly($event)"
                    />
                </div>
                <div class="input-form">
                    <h2 class="profile-subtitle">Apellido:</h2>
                    <input
                        id="userlastname"
                        type="text"
                        value="{{userData.apellido}}"
                        placeholder="Apellido del Usuario"
                        class="form-control"
                        name="NuevoApellido"
                        [(ngModel)]="NuevoApellido"
                        (keypress)="alphaOnly($event)"
                    />
                </div>

                <div class="button-editprofile-container">
                    <button type="submit" class="btn-save-profile">
                            <img src="../../../assets/img-buttons/Save.png" alt=""> Guardar Información
                    </button>
                </div> 
            </form>
        </div>
    </div>
  </div>
</div> 
<app-footer class="footer"></app-footer>
