<app-navbar></app-navbar>

<div class="containerbox">
<div class="container">
  <div class="row">
      <div class="col-12">
          <h1 class="titulo">¿Quiénes somos?</h1>
      </div>
  </div>
  <div class="containerabout">
      <img src="../../assets/img-home/UNeventoUNVerde (3).png" alt="UNevento" class="img-fluid">
  </div>
  <div class="misionvision row">
      <div class="col-md-6">
          <h2 class="titulo">Misión</h2>
          <p class="texto">Proporcionar información precisa y oportuna sobre eventos y actividades organizadas por los semilleros, grupos de investigación, área de bienestar y otros miembros de la universidad a la comunidad universitaria y al personal interesado. Con el fin de que haya una mayor difusión de la información relevante y en consecuencia, una participación más activa y comprometida por parte de la población.</p>
      </div>
      <div class="col-md-6">
          <h2 class="titulo">Visión</h2>
          <p class="texto">Para el año 2028, UNevento se convertirá en el principal medio de difusión y comunicación de eventos no solo para la comunidad universitaria, sino también para la población interesada en participar en eventos organizados en la Universidad Nacional de Colombia. Esta plataforma será ampliamente utilizada como canal central para la transmisión de comunicados oficiales y la divulgación de información tanto formal como informal sobre actividades llevadas a cabo en los diversos espacios de la universidad.</p>
      </div>
  </div>
  

<div class="cards-people container">
  <div class="decorator">
    <p class="developers">Developers</p>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="card" data-state="#about">
        <div class="card-header">
          <div class="card-cover" style="background-image: url('../../assets/personas/Nicolas.jpg')"></div>
          <img class="card-avatar" src="../../assets/personas/Nicolas.jpg" alt="avatar" />
          <h1 class="card-fullname">Nicolas Martinez Lopez</h1>
          <h2 class="card-jobtitle">Full Stack</h2>
        </div>
        <div class="card-main">
          <div class="card-section is-active" id="about">
            <div class="card-content">
              <div class="card-subtitle">Acerca de mi:</div>
              <p class="card-desc">Soy una persona atenta, comprometido con lo que se propone, y apasionado por lo que hace, de esta manera supero desafíos y aprendo cosas nuevas día a día.</p>
              <p class="frase-nicolas">"El éxito no se mide por la cantidad de dinero que se posee, sino por la felicidad que se siente día a día"</p>          
            </div>
            <div class="card-social">
              
              <a href="https://github.com/nmart1nezl">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                  <path fill="currentColor" d="M12 0C5.373 0 0 5.373 0 12c0 5.302 3.438 9.8 8.205 11.385.6.111.82-.261.82-.581 0-.288-.01-1.048-.015-2.06-3.338.724-4.042-1.61-4.042-1.61-.546-1.386-1.333-1.754-1.333-1.754-1.088-.744.083-.729.083-.729 1.204.085 1.839 1.236 1.839 1.236 1.07 1.834 2.808 1.304 3.492.997.108-.776.417-1.305.759-1.605-2.657-.301-5.453-1.328-5.453-5.903 0-1.306.468-2.375 1.235-3.213-.124-.303-.536-1.518.117-3.16 0 0 1.005-.32 3.3 1.227a11.422 11.422 0 012.997-.404 11.414 11.414 0 013  .404c2.292-1.547 3.296-1.227 3.296-1.227.655 1.642.243 2.857.119 3.16.77.838 1.232 1.907 1.232 3.213 0 4.588-2.8 5.598-5.467 5.891.429.369.814 1.097.814 2.212 0 1.596-.015 2.877-.015 3.275 0 .32.214.698.825.58C20.565 21.794 24 17.305 24 12c0-6.627-5.373-12-12-12z"/>
                </svg>
              </a>
               <a href="https://www.linkedin.com/in/nicolasmartinezlopez1052/"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M23.994 24v-.001H24v-8.802c0-4.306-.927-7.623-5.961-7.623-2.42 0-4.044 1.328-4.707 2.587h-.07V7.976H8.489v16.023h4.97v-7.934c0-2.089.396-4.109 2.983-4.109 2.549 0 2.587 2.384 2.587 4.243V24zM.396 7.977h4.976V24H.396zM2.882 0C1.291 0 0 1.291 0 2.882s1.291 2.909 2.882 2.909 2.882-1.318 2.882-2.909A2.884 2.884 0 002.882 0z" /></svg></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Repite estas columnas para agregar más tarjetas -->
    <div class="col-sm-3">
      <div class="card" data-state="#about">
        <div class="card-header">
          <div class="card-cover" style="background-image: url('../../assets/personas/Juan\ Carlos.jpg')"></div>
          <img class="card-avatar" src="../../assets/personas/Juan Carlos.jpg" alt="avatar" />
          <h1 class="card-fullname">Juan Carlos Prieto</h1>
          <h2 class="card-jobtitle">Full Stack</h2>
        </div>
        <div class="card-main">
          <div class="card-section is-active" id="about">
            <div class="card-content">
              <div class="card-subtitle">Acerca de mi:</div>
              <p class="card-desc">Soy una persona interesada por el desarrollo de nuevas tecnologías y cómo estas transforman nuestra manera de pensar y nuestra visión del mundo.</p>
              <p class="frase-juan">"Los ganadores nunca se rinden y los que se rinden nunca ganan."</p>          
            </div>
            <div class="card-social">
              <a href="https://github.com/OMICRON1123">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                  <path fill="currentColor" d="M12 0C5.373 0 0 5.373 0 12c0 5.302 3.438 9.8 8.205 11.385.6.111.82-.261.82-.581 0-.288-.01-1.048-.015-2.06-3.338.724-4.042-1.61-4.042-1.61-.546-1.386-1.333-1.754-1.333-1.754-1.088-.744.083-.729.083-.729 1.204.085 1.839 1.236 1.839 1.236 1.07 1.834 2.808 1.304 3.492.997.108-.776.417-1.305.759-1.605-2.657-.301-5.453-1.328-5.453-5.903 0-1.306.468-2.375 1.235-3.213-.124-.303-.536-1.518.117-3.16 0 0 1.005-.32 3.3 1.227a11.422 11.422 0 012.997-.404 11.414 11.414 0 013  .404c2.292-1.547 3.296-1.227 3.296-1.227.655 1.642.243 2.857.119 3.16.77.838 1.232 1.907 1.232 3.213 0 4.588-2.8 5.598-5.467 5.891.429.369.814 1.097.814 2.212 0 1.596-.015 2.877-.015 3.275 0 .32.214.698.825.58C20.565 21.794 24 17.305 24 12c0-6.627-5.373-12-12-12z"/>
                </svg>
              </a>
               <a href="https://www.linkedin.com/in/juan-carlos-prieto-calderon-176733258/"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M23.994 24v-.001H24v-8.802c0-4.306-.927-7.623-5.961-7.623-2.42 0-4.044 1.328-4.707 2.587h-.07V7.976H8.489v16.023h4.97v-7.934c0-2.089.396-4.109 2.983-4.109 2.549 0 2.587 2.384 2.587 4.243V24zM.396 7.977h4.976V24H.396zM2.882 0C1.291 0 0 1.291 0 2.882s1.291 2.909 2.882 2.909 2.882-1.318 2.882-2.909A2.884 2.884 0 002.882 0z" /></svg></a>
           
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card" data-state="#about">
        <div class="card-header">
          <div class="card-cover" style="background-image: url('../../assets/personas/MillerPhoto.jpg')"></div>
          <img class="card-avatar" src="../../assets/personas/MillerBarreaGonzalez.jpg" alt="avatar" />
          <h1 class="card-fullname">Miller Barrera Gonzalez</h1>
          <h2 class="card-jobtitle">Full Stack</h2>
        </div>
        <div class="card-main">
          <div class="card-section is-active" id="about">
            <div class="card-content">
              <div class="card-subtitle">Acerca de mi:</div>
              <p class="card-desc">Soy una persona muy curiosa a la cual le gusta aprender, mi sueño es construir un mejor futuro para la sociedad, ¡vamos a crear al genial juntos!</p>
              <p class="frase">"Si miras fijamente al abismo, el abismo te devuelve la mirada."</p>          
            </div>
            <div class="card-social">
              <a href="https://github.com/mbarrerag">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                  <path fill="currentColor" d="M12 0C5.373 0 0 5.373 0 12c0 5.302 3.438 9.8 8.205 11.385.6.111.82-.261.82-.581 0-.288-.01-1.048-.015-2.06-3.338.724-4.042-1.61-4.042-1.61-.546-1.386-1.333-1.754-1.333-1.754-1.088-.744.083-.729.083-.729 1.204.085 1.839 1.236 1.839 1.236 1.07 1.834 2.808 1.304 3.492.997.108-.776.417-1.305.759-1.605-2.657-.301-5.453-1.328-5.453-5.903 0-1.306.468-2.375 1.235-3.213-.124-.303-.536-1.518.117-3.16 0 0 1.005-.32 3.3 1.227a11.422 11.422 0 012.997-.404 11.414 11.414 0 013  .404c2.292-1.547 3.296-1.227 3.296-1.227.655 1.642.243 2.857.119 3.16.77.838 1.232 1.907 1.232 3.213 0 4.588-2.8 5.598-5.467 5.891.429.369.814 1.097.814 2.212 0 1.596-.015 2.877-.015 3.275 0 .32.214.698.825.58C20.565 21.794 24 17.305 24 12c0-6.627-5.373-12-12-12z"/>
                </svg>
              </a>
               <a href="https://www.linkedin.com/in/miller-barrera-gonz%C3%A1lez/"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M23.994 24v-.001H24v-8.802c0-4.306-.927-7.623-5.961-7.623-2.42 0-4.044 1.328-4.707 2.587h-.07V7.976H8.489v16.023h4.97v-7.934c0-2.089.396-4.109 2.983-4.109 2.549 0 2.587 2.384 2.587 4.243V24zM.396 7.977h4.976V24H.396zM2.882 0C1.291 0 0 1.291 0 2.882s1.291 2.909 2.882 2.909 2.882-1.318 2.882-2.909A2.884 2.884 0 002.882 0z" /></svg></a>
           
            </div>
          </div>
        </div>
      </div>  
    </div>
    <div class="col-sm-3">
      <div class="card" data-state="#about">
        <div class="card-header">
          <div class="card-cover" style="background-image: url('../../assets/personas/Breiner.jpg')"></div>
          <img class="card-avatar" src="../../assets/personas/Breiner.jpg" alt="avatar" />
          <h1 class="card-fullname">Breiner Lopez Fuentes</h1>
          <h2 class="card-jobtitle">Full Stack</h2>
        </div>
        <div class="card-main">
          <div class="card-section is-active" id="about">
            <div class="card-content">
              <div class="card-subtitle">Acerca de mi:</div>
              <p class="card-desc">Soy alguien que fija sus objetivos y con disciplina los cumple, me gusta explorar mis horizontes y tengo una mentalidad perseverante, siempre busco oportunidades para mejorar tanto a nivel personal como profesional</p>
              <p class="frase-breiner">"Me gusta un buen cafe, el vino, las mujeres, y el blue label"</p>          
            </div>
            <div class="card-social">
              <a href="https://github.com/breinerLopez10">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                  <path fill="currentColor" d="M12 0C5.373 0 0 5.373 0 12c0 5.302 3.438 9.8 8.205 11.385.6.111.82-.261.82-.581 0-.288-.01-1.048-.015-2.06-3.338.724-4.042-1.61-4.042-1.61-.546-1.386-1.333-1.754-1.333-1.754-1.088-.744.083-.729.083-.729 1.204.085 1.839 1.236 1.839 1.236 1.07 1.834 2.808 1.304 3.492.997.108-.776.417-1.305.759-1.605-2.657-.301-5.453-1.328-5.453-5.903 0-1.306.468-2.375 1.235-3.213-.124-.303-.536-1.518.117-3.16 0 0 1.005-.32 3.3 1.227a11.422 11.422 0 012.997-.404 11.414 11.414 0 013  .404c2.292-1.547 3.296-1.227 3.296-1.227.655 1.642.243 2.857.119 3.16.77.838 1.232 1.907 1.232 3.213 0 4.588-2.8 5.598-5.467 5.891.429.369.814 1.097.814 2.212 0 1.596-.015 2.877-.015 3.275 0 .32.214.698.825.58C20.565 21.794 24 17.305 24 12c0-6.627-5.373-12-12-12z"/>
                </svg>
              </a>
               <a href="https://www.linkedin.com/in/breiner-lopez-ba654b25a/"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M23.994 24v-.001H24v-8.802c0-4.306-.927-7.623-5.961-7.623-2.42 0-4.044 1.328-4.707 2.587h-.07V7.976H8.489v16.023h4.97v-7.934c0-2.089.396-4.109 2.983-4.109 2.549 0 2.587 2.384 2.587 4.243V24zM.396 7.977h4.976V24H.396zM2.882 0C1.291 0 0 1.291 0 2.882s1.291 2.909 2.882 2.909 2.882-1.318 2.882-2.909A2.884 2.884 0 002.882 0z" /></svg></a>
           
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
  <div class="background">

  </div>
</div>
</div>
<app-footer></app-footer>