    <div class="nft" >
        <div class='main'>
        <img class='tokenImage' src="{{this.eventImage}}" alt="NFT" />
        <h2 class="card-title">{{data.nombre}}</h2>
        <p *ngIf="data.facultad != 'No_Aplica'; else elseBlock" class="FacultyEvent">Evento de Facultad</p>
            <ng-template #elseBlock>
            <!-- Aquí va el contenido que se mostrará si data.facultad es igual a 'No_Aplica' -->
            <p class="CommunityEvent">Evento de la Comunidad</p>
            </ng-template>
        <p class='card-description'><strong>Descripción del Evento:</strong> {{data.descripcion}}</p>
        <div class='tokenInfo'>
            <strong>Fecha:  </strong>{{data.fechaEvento.slice(0,10)}}
            <strong>Hora:  </strong>{{data.hora}}
            <br>
            <strong>Lugar:  </strong>{{data.lugar}}
            <br>
            <p *ngIf="data.facultad != 'No_Aplica'"><strong>Facultad:</strong> {{this.Facultad}}</p>
            <strong>Aforo:  </strong>{{data.capacidad}}
            <br>
            <strong>Categoría:  </strong>{{this.categoria}}
            <br>
        </div>
        <hr />
        <div class='actions'>
            <button type="submit" class="btn-modificar-evento" (click)="onOpenModalModify()">Editar</button>
            <button type="button" class="btn-eliminar" (click)="onOpenModalDelete()">Eliminar</button>
        </div>
    </div>
    <app-modal-delete-event *ngIf ="showModalDelete==true"  (closeModalDelete)="onCloseModalDelete()"  [data]="data" ></app-modal-delete-event>
    <app-modal-modify-event *ngIf ="showModalModify==true"  (closeModalModify)="onCloseModalModify()"  [data]="data" ></app-modal-modify-event>
