// Settings

$c_0: #000000;
$c_1: #353540;

// Basic reset

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: $c_1;
}

.title-card{
  color: rgb(0, 0, 0);
  font: size 5%;;
  align-items: center;
  text-align: center;
  font: "approch-black-italic";
  margin-top: 3%;
}





.l-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5%;
  align-items: center;
  max-width: 90%;
  margin-top: 5%;
  margin-left: 20%;
  display: grid;
  place-items: center;
  
  @media screen and (max-width: 760px) {
    grid-template-columns: repeat(2, 1fr);
  }
  
}

.image-facultad {
  box-shadow: #a2d630 5px 1px 10px 5px;
  border-radius: 0.7rem;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(7px);
  height: 85%;
  width: 100%;
  object-fit: cover;
  object-position: 80% center;

}



.b-game-card {
  
  border-radius: .7rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: .7rem;
  z-index: 1;
  width: 110%;
  height: 80%;
  margin-top: 1%;
  margin-left: 1%;
  padding-bottom: 130%;
  perspective: 400px;
   
  &__cover {
    border-radius: .7rem;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(7px);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: white;
    background-size: cover;
    perspective-origin: 50% 50%;
    transform-style: preserve-3d;
    transform-origin: top center;
    will-change: transform;
    transform: skewX(.001deg);
    transition: transform .35s ease-in-out;
    
    
    // Gloss 
    
    &::after {
       
      display: block;
      content: '';
      position: absolute;
      z-index: 100;
      top: 0;
      left: 0;
      width: 100%;
      height: 120%;
      background: linear-gradient(226deg, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.4) 35%, rgba(255,255,255,0.2) 42%, rgba(255,255,255,0) 60%);
      transform: translateY(-20%);
      will-change: transform;
      transition: transform .65s cubic-bezier(0.18, 0.9, 0.58, 1);
      
    }
    
  }
  
  &:hover &__cover {
    transform: rotateX(7deg) translateY(-6px);
    

    

    

    &::after {
      transform: translateY(0%);
    }
    
  }
  
  // Shadows
  
  &::before {
    display: block;
    content: '';
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
   

    will-change: opacity;
    transform-origin: top center;
    transform: skewX(.001deg);
    transition: transform .35s ease-in-out, opacity .5s ease-in-out;
  }
  
  &:hover::before {
    opacity: 0.6;
    transform: rotateX(7deg) translateY(-6px) scale(1.05);
  }
  
}


@media screen and (max-width: 780px) {
  
  .l-container {
    margin-left: 5%;
  }
}