<div class="l-container">
    <div class="b-game-card" (click)="selectBienestar('Bienestar')">
      <div class="b-game-card__cover">
        <img class="image-facultad" src="../../../assets/img-home/Bienestar.jpeg" alt="Facultad de Humanas">
        <div class="card-body">
          <h4 class="title-card hover-effect">Bienestar</h4>
        </div>
      </div>
    </div>
    <div class="b-game-card" (click)="selectBienestar('Relaciones_Internacionales')">
      <div class="b-game-card__cover">
        <img class="image-facultad" src="../../../assets/img-home/RelacionesInternacionales.jpeg" alt="Facultad de Humanas">
        <div class="card-body">
          <h4 class="title-card">Relaciones Internacionales</h4>
        </div>
      </div>
    </div>
    <div class="b-game-card" (click)="selectBienestar('Idiomas')">
      <div class="b-game-card__cover">
  
        <img class="image-facultad" src="../../../assets/img-home/Idiomas.jpeg" alt="Idiomas">
        <div class="card-body">
          <h4 class="title-card">Idiomas</h4>
        </div>
      </div>
    </div>
  </div>