.profile-title {
    font-family: "approach-bold";
    text-align: center;
    font-size: 50px;
    margin-top: 5%;
}

.profile-info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-family: "approach-regular";
    width: 70%;
    margin: 0 auto;
    margin-top: 25px;
    align-items: center;
    border-radius: 5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease;
}
.profile-info:hover{
    transform: scale(1.1);
}
.btn-edit-profile{
    width: auto;
    height: 40px;
	background-color: #416be8;
    border: 0px;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
    text-decoration: none;
	color: #fff;
	margin: auto auto;
    border-radius: 5%;
    transition: transform 0.3s ease;
}
.btn-edit-profile:hover{
    background-color: #504e4f;
    transform: scale(1.1);
}
.btn-delete-profile{
    width: auto;
    height: 40px;
	background-color: #ef2f2f;
    border: 0px;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
	color: #fff;
	margin: auto auto;
    border-radius: 5%;
    transition: transform color 0.3s ease;
}
.btn-delete-profile:hover{
    background-color: #ffffff;
    color: black;
    transform: scale(1.1); 
}
.button-container{
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    font-family: "approach-regular";
}
.button-profile-container{
    margin-bottom: 10%;
    display: flex;
    padding-top: 30px;
    padding-bottom: 10px;
    gap: 50px;
    justify-content: center;
}


.profile-photo {
    border-radius: 20%;
    width: auto;
    height: auto;
    overflow: hidden; 
    justify-content: center;
    align-items: center; 
}

.profile-photo img {
    height: auto;
    max-width: 300px;
    transition: transform 0.3s ease; 
    max-height: 300px;
}

.profile-photo:hover img {
    transform: scale(1.1); 
}

.data {
    flex: 1; 
    padding-left: 20px;
}

@media screen and (max-width: 775px) {
    .profile-info {
        flex-direction: column;
    }
}

.profile-subtitle {
    font-family: "approach-bold";
    font-size: 30px;
}

a{
    text-decoration: none;
    color: white;
}
