<app-navbar></app-navbar>
<div class="CreateEventContainer">
    <h1>Crear Evento</h1>
    <p>Selecciona el tipo de evento que deseas crear:</p>
    <div class="options">
        <!-- <div class="option">
            <h2 class="nameEvent">Evento de Facultad</h2>
            <img src="../../../assets/img-createevents/FacultadCiencias.JPG" alt="Imagen del evento de facultad" class="FotoEvento">
            <p>Aquí puedes crear y promocionar diversos eventos de facultades, como conferencias, competiciones deportivas y actividades culturales. Personaliza fácilmente los detalles del evento, incluyendo fecha, ubicación, descripción y categoría, para destacar la participación de tu facultad.</p>
        </div> -->
        <article>
            <div class="article-wrapper">
              <figure>
                <img src="../../../assets/img-createevents/FacultadCiencias.JPG" alt="" />
              </figure>
              <div class="article-body">
                <h2>Evento de Facultad</h2>
                <p>
                    Aquí puedes crear y promocionar diversos eventos de facultades, como conferencias, competiciones deportivas y actividades culturales. Personaliza fácilmente los detalles del evento, incluyendo fecha, ubicación, descripción y categoría, para destacar la participación de tu facultad.
                </p>
                <a routerLink="/createfacultyevent">
                </a>
              </div>
            </div>
        </article>
        <!-- <div class="option">
            <h2 class="nameEvent">Evento de la Comunidad</h2>
            <img src="../../../assets/img-createevents/EventoComunidad.jpeg" alt="Imagen del evento de la comunidad" class="FotoEvento">
            <p>Crea y promociona eventos divertidos y deportivos en nuestra plataforma. Organiza fiestas, partidos de fútbol, juegos de mesa y más. Conéctate con la comunidad y disfruta de momentos inolvidables. Únete a la diversión y crea tu evento hoy mismo.</p>
        </div> -->
        <article>
            <div class="article-wrapper">
              <figure>
                <img src="../../../assets/img-createevents/EventoComunidad.jpeg" alt="" />
              </figure>
              <div class="article-body">
                <h2>Evento de la Comunidad</h2>
                <p>
                    Crea y promociona eventos divertidos y deportivos en nuestra plataforma. Organiza fiestas, partidos de fútbol, juegos de mesa y más. Conéctate con la comunidad y disfruta de momentos inolvidables. Únete a la diversión y crea tu evento hoy mismo.
                </p>
                <a routerLink="/createcommunityevent">
                </a>
              </div>
            </div>
        </article>
    </div>
</div>
<app-footer></app-footer>

