
<div class="nft">
    <div class='main'>
      <img class='tokenImage' src="../../assets/backgrounds/AdevertenciaNoCreados.png" alt="NFT" />
      <h2 class="card-title">{{data.nombre}}</h2>
      <p class='card-description'><strong>Descripción del Evento:</strong> {{data.descripcion}}</p>
      <div class='tokenInfo'>
        <strong>Fecha:  </strong>{{data.fechaEvento.slice(0,10)}}
        <strong>Hora:  </strong>{{data.hora}}
        <br>
        <strong>Lugar:  </strong>{{data.lugar}}
        <br>
        <strong>Aforo:  </strong>{{data.capacidad}}
        <br>
        <strong>Categoría:  </strong>{{this.categoria}}
        <br>
      </div>
      <hr />
     <div class='creator'>
        <!-- <div class='wrapper'>
          <img src="{{this.creatorImage}}" alt="Creator" />
        </div> 
        <p><ins>Creado por </ins>{{creatorData.nombre+" "+creatorData.apellido}}</p> -->
        <div class='wrapper'>
          <img src="../../assets/backgrounds/FondoBlancoConHexagonos.jpeg" alt="Creator" />
        </div> 
        <p><ins>Creado por </ins>{{data.nombrecreador}}</p>
      </div>
    </div>
  </div>
  