<div class="container">

  <div class="info-label">
  
  <div class="error">
<h2 > 404 </h2>
      <div class="text">

    <b class="erroradvice">Error</b>
  
    </div>
    
  </div>


  </div>

    <div class="info-text">
            <h1>Pagina no encontrada</h1>
      <a href=""> Regreserar a la pagina de inicio </a> <p> La URL ingresada no es correcta, por favor verifique e intente nuevamente.

 </p>
 
    </div>
  
    <div class="Astronaut">
      <img src="../../assets/img-aboutus/unalll.png" alt="Astronaut Cartoon Lost">
    </div>
    
  </div>
