@-webkit-keyframes astronautLost {
  100% { -webkit-transform: translate(10vh,  -30vh);}
  75% { -webkit-transform: translate(-115vh, 45vh);}
  50% { -webkit-transform: translate(-226vh, -15vh);}
  25% { -webkit-transform: translate(-100vh, -76vh);}
}

@keyframes astronautRotate{
  100% { -webkit-transform: rotate(-270deg); }
  75% { -webkit-transform: rotate(-180deg);}
  50% { -webkit-transform: rotate(-90deg);}
  25% { -webkit-transform: rotate(0deg); }
}

body {
  background-color: #2F3242;
}
svg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -400px;
}
.message-box {
  height: 200px;
  width: 380px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: 50px;
  color: #FFF;
  font-family: Roboto;
  font-weight: 300;
}
.message-box h1 {
  font-size: 700%;
  line-height: 46px;
  margin-bottom: 40px;
  color: #2F3242;
}

.message-box p {
  font-size: 60px;
  line-height: 46px;
  margin-bottom: 40px;
  color: #2F3242;
}

.buttons-con .action-link-wrap {
  margin-top: 40px;
}
.buttons-con .action-link-wrap a {
  background: #68c950;
  padding: 8px 25px;
  border-radius: 4px;
  color: #FFF;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.3s linear;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px
}
.buttons-con .action-link-wrap a:hover {
  background: #5A5C6C;
  color: #fff;
}

#Polygon-1 , #Polygon-2 , #Polygon-3 , #Polygon-4 , #Polygon-4, #Polygon-5 {
  animation: float 1s infinite ease-in-out alternate;
}
#Polygon-2 {
  animation-delay: .2s; 
}
#Polygon-3 {
  animation-delay: .4s; 
}
#Polygon-4 {
  animation-delay: .6s; 
}
#Polygon-5 {
  animation-delay: .8s; 
}

@keyframes float {
	100% {
    transform: translateY(20px);
  }
}
@media (max-width: 450px) {
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -190px;
  }
  .message-box {
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -190px;
    text-align: center;
  }

}

.Astronaut{
  z-index: 110 !important;
  position: absolute;
  top: 50%;
  right: 0%;
  will-change: transform;
  animation: astronautLost 15s infinite linear both;
}

.Astronaut img{
  width: 300px;
  position: absolute;
  animation: astronautRotate 15s infinite linear both;
}