<div class="container">

  <div class="info-label">
  
  <div class="error">
<h2 > 404 </h2>
      <div class="text">

    <b>Error</b>
  
    </div>
    
  </div>


  </div>

    <div class="info-text">
            <h1>Page not found</h1>
      <a href="#"> Go back to the previous page </a> <p> Curabitur scelerisque enim at pellentesque mattis. Nullam facilisis quam mauris, in egestas quam posuere sit amet. Phasellus sollicitudin.

 </p>
 
    </div>
  
    <div class="Astronaut">
      <img src="../../assets/img-aboutus/unalll.png" alt="Astronaut Cartoon Lost">
    </div>
    
  </div>
