@-webkit-keyframes astronautLost {
  100% { -webkit-transform: translate(10vh,  -30vh);}
  75% { -webkit-transform: translate(-115vh, 45vh);}
  50% { -webkit-transform: translate(-226vh, -15vh);}
  25% { -webkit-transform: translate(-100vh, -76vh);}
}

@keyframes astronautRotate{
  100% { -webkit-transform: rotate(-270deg); }
  75% { -webkit-transform: rotate(-180deg);}
  50% { -webkit-transform: rotate(-90deg);}
  25% { -webkit-transform: rotate(0deg); }
}

body, html{
  height:100%;
  overflow:hidden;
}
body{

  display:flex;
  align-items:center;
  justify-content:center;
   font-family: source-sans-pro, sans-serif;
  background-color: #ededed; /* #ededed*/
color: #333;
}

h2 {  display:inline;
    font-size:200px;
  margin:0;
  padding:0;
  line-height:0;
  margin-top:50px;
}


.quote
{
  display:inline;
margin-left:5px;
margin-right:5px;
}

.quote:before
{
content: '{';
  
}

.quote:after
{
  content: '}';  

}

.error {  
  margin-top: 70%;
text-align:center;
position:relative;

}

.text {
position:absolute;
right:13px;
}

.container{
  width:500px;
  padding:5px;
}

 .info-text a{
  font-size: 150%;
  margin: 0 0 5% 0;
  padding: 0;
  line-height: 0;

} 
.info-text p{
  font-size: 150%;
  
}

.info-label{display:inline;}

.info-text{
text-align:center;
margin-top: 10%;
display: grid;
place-items: center;

}

a {
color: #3B81BE;
line-height: inherit;
text-decoration: none;
  
}

a:after
{
  vertical-align:top;
  width:13px;
  height:13px;
  
display: inline-block;

}

p{  text-align:justify;
}



.Astronaut{
  z-index: 110 !important;
  position: absolute;
  top: 50%;
  right: 0%;
  will-change: transform;
  animation: astronautLost 15s infinite linear both;
}

.Astronaut img{
  width: 300px;
  position: absolute;
  animation: astronautRotate 15s infinite linear both;
}

.earth{
  z-index: 110 !important;
  position: absolute;
}

.earth img{
  width: 260px;
  position: fixed;
  top: 5%;
  right: 5%;
}

@media screen and (max-width: 530px){
  .errorTitle h1 {
      font-size: 90px;
  }
  .errorTct p {
      width: 300px;
  }
  .earth img {
      width: 90px;
      top: 1%;
      z-index: 100;
  }
  .Astronaut img {
      width: 200px;

  }
}
@media screen and (max-width: 400px){

  .errorTitle h1 {
      font-size: 40px;
  }
  .errorTct p {
      width: 220px;
      font-size: 13px;
  }
  .earth img {
      width: 130px;
  }
  .Astronaut img {
      width: 200px;
  }
  #errorButton {
      height: 35px;
      width: 96px;
      font-size: 12px;
  }
}
@media screen and (max-width: 365px){
  .errorTitle h1 {
      font-size: 38px;
  }
  .earth img {
      width: 130px;
  }
  .Astronaut img {
      width: 130px;
  }
  #errorButton {
      height: 35px;
      width: 100px;
      font-size: 12px;
  }
}