<div class="container">

  <div class="info-label">
  
  <div class="error">
<h2 > 404 </h2>
      <div class="text">

    <b class="erroradvice">Error</b>
  
    </div>
    
  </div>


  </div>

    <div class="info-text">
            <h1>Pagina no encontrada</h1>
      <a href=""> Regreserar a la pagina de inicio </a> <p>
        -Es posible que se haya cambiado la dirección URL de la página o que haya dejado de existir.</p><p>
        -Por favor verifique la dirección URL en la barra de direcciones.</p>
       <p>-También puede visitar el mapa del sitio para encontrar una página que corresponda a sus requerimientos.

 </p>
 
    </div>
  
    <div class="Astronaut">
      <img src="../../assets/img-aboutus/unalll.png" alt="Astronaut Cartoon Lost">
    </div>
    
  </div>
