<div class="l-container">
  <div class="b-game-card">
    <div class="b-game-card__cover">
      <div class="image-facultad">
      <img src="../../../assets/img-home/Viejo.jpg" alt="Facultad de Humanas">
    </div>
        <div class="card-body">
          <h4 class="title-card">Facultad de Ingeniería.</h4>
        </div>
     
    </div>
</div>
  <div class="b-game-card">
    <div class="b-game-card__cover" style="background-image: url(../../../assets/img-home/Facultad\ Humanas.JPG); background-size: cover;"></div>
  </div>
  <div class="b-game-card">
    <div class="b-game-card__cover" style="background-image: url(../../../assets/img-home/Facultad\ Veterinaria.JPG); background-size: cover;"></div>
  </div>
  <div class="b-game-card">
    <div class="b-game-card__cover" style="background-image: url(../../../assets/img-home/Facultad\ Odontologia.JPG); background-size: cover;"></div>
  </div>

</div>
