<div class="l-container">
  <div class="b-game-card">
    <div class="b-game-card__cover">
      <img class="image-facultad" src="../../../assets/img-home/Viejo.jpg" alt="Facultad de Humanas">
      <div class="card-body">
        <h4 class="title-card hover-effect">INGENIERIA</h4>
      </div>
    </div>
  </div>
  <div class="b-game-card">
    <div class="b-game-card__cover">
      <img class="image-facultad" src="../../../assets/img-home/FacultadCiencias.JPG" alt="Facultad de Humanas">
      <div class="card-body">
        <h4 class="title-card">CIENCIAS</h4>
      </div>
    </div>
  </div>
  <div class="b-game-card">
    <div class="b-game-card__cover">

      <img class="image-facultad" src="../../../assets/img-home/Facultad Humanas.JPG" alt="Facultad de Humanas">
      <div class="card-body">
        <h4 class="title-card">CIENCIAS HUMANAS</h4>
      </div>
    </div>
  </div>
  <div class="b-game-card">
    <div class="b-game-card__cover">

      <img class="image-facultad" src="../../../assets/img-home/economicas.jpg" alt="Facultad de Humanas">
      <div class="card-body">
        <h4 class="title-card">CIENCIAS ECONOMICAS</h4>
      </div>
    </div>
  </div>
  <div class="b-game-card">
    <div class="b-game-card__cover">
      <img class="image-facultad" src="../../../assets/img-home/Facultad Agraria.JPG" alt="Facultad de Humanas">
      <div class="card-body">
        <h4 class="title-card">CIENCIAS AGRARIAS</h4>
      </div>
    </div>
  </div>
  <div class="b-game-card">
    <div class="b-game-card__cover">
      <img class="image-facultad" src="../../../assets/img-home/Facultad Medicina.JPG" alt="Facultad de Humanas">
      <div class="card-body">
        <h4 class="title-card">MEDICINA</h4>
      </div>
    </div>
  </div>
  <div class="b-game-card">
    <div class="b-game-card__cover">

      <img class="image-facultad" src="../../../assets/img-home/Facultad de Enfermeria.JPG" alt="Facultad de Humanas">
      <div class="card-body">
        <h4 class="title-card">ENFERMERIA</h4>
      </div>
    </div>
  </div>
  <div class="b-game-card">
    <div class="b-game-card__cover">

      <img class="image-facultad" src="../../../assets/img-home/Facultad Odontologia.JPG" alt="Facultad de Humanas">
      <div class="card-body">
        <h4 class="title-card">ODONTOLOGIA</h4>
      </div>
    </div>
  </div>
  <div class="b-game-card">
    <div class="b-game-card__cover">

      <img class="image-facultad" src="../../../assets/img-home/Facultad Veterinaria.JPG" alt="Facultad de Humanas">
      <div class="card-body">
        <h4 class="title-card">VETERINARIA</h4>
        
      </div>
    </div>
  </div>
  <div class="b-game-card">
    <div class="b-game-card__cover">

      <img class="image-facultad" src="../../../assets/img-home/Facultad Artes.JPG" alt="Facultad de Humanas">
      <div class="card-body">
        <h4 class="title-card">ARTES</h4>
      </div>
    </div>
  </div>
  <div class="b-game-card">
    <div class="b-game-card__cover">

      <img class="image-facultad" src="../../../assets/img-home/Facultad Derecho.JPG" alt="Facultad de Humanas">
      <div class="card-body">
        <h4 class="title-card">DERECHO Y CIENCIAS POLITICAS</h4>
      </div>
    </div>
  </div>
  
  <div class="b-game-card">
    <div class="b-game-card__cover">

      <img class="image-facultad" src="../../../assets/img-home/LeonDeGreiff.JPG" alt="Facultad de Humanas">
      <div class="card-body">
        <h4 class="title-card">LEON DE GREIFF</h4>
      </div>
    </div>
  </div>
</div>