
<div class="fullWidthBackground">
    <div class="containerSingup">
      
        <div class="card card-sing">
            <div class="container-div">


                    <div class="inputs-singUp">

                        <div class="contaner-tittle-singUp">
                            <h2 class="tittle-singUp">Ingresa tus datos</h2>
                        </div>

                <div class="inputs-total">

                        <div class="input-field">
                            <input placeholder="Nombre"   class="input-name input-global"   type="text" required>
                            
                        </div>

                        <div class="input-field">
                            <input placeholder="Apellido" class="input-lastname input-global"    type="text" required>
                            
                        </div>

                        <div class="input-field">
                            <input placeholder="Correo electronico"  class="input-email input-global" type="text" required>
                
                        </div>

                        <div class="input-field">
                            <input placeholder="Contraseña"  class="input-password input-global" type="text" required>
                          
                        </div>

                        <div class="input-field">
                            <input placeholder="Confirmar Contraseña" class="input-confirmPassword input-global"   type="text" required>
                         
                        </div>

                        <div class="input-field  ">
                            <input type="checkbox" id="termsCheckbox" required>
                            <label for="termsCheckbox" class="terminos-condiciones">Acepto los <a href="#" target="_blank">Términos y Condiciones</a></label>
                        </div>


                        <div class="container-btn">
                        <button class="btn btn-aceptar" type="submit">Aceptar</button>
                            </div>
                    </div>
                    </div>
                        <div class="container-img">
                            <img src="../../../assets/img-singup/img1.png" alt="" class="card-img-top   img-singUp">
                        </div>
    
            </div>
        </div>
    </div>
</div>  


