h2 {
  font-family: 'approach-bold';
  font-size: 25 px;
}

div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);  
  width: 250px;
  height: 250px;
  background-image: url('../../assets/backgrounds/FondoconCirculo.jpeg');
  z-index: 9999;
}

p {
  font-family: "approach-regular";
  font-size: 20px;
  text-align: center;
}
  
.close-btn {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 20px;
  cursor: pointer;
  font-family: 'approach-regular';
}

.accept-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  font-family: 'approach-regular';
}