
  <div class="nft">
    <div class='main'>
      <img class='tokenImage' src="../../../assets/img-home/Facultad Humanas.JPG" alt="NFT" />
      <h2>Festival de la gota</h2>
      <p class='description'>Coma carne y chupe chicha hasta donde ya no pueda mas.</p>
      <br>
      <div class='tokenInfo'>
        <div class="price">
          <p>FREE</p>
        </div>
        <div class="duration">
    
          <p>11/03/2024</p>
        </div>
      </div>
      <hr />
     <div class='creator'>
        <div class='wrapper'>
          <img src="../../../assets/img-home/Facultad Artes.JPG" alt="Creator" />
        </div> 
        <p><ins>Creado por</ins> Facultad de Artes</p>
      </div>
    </div>
  </div>
