




<div class="public-events-cards">

  <div class="card container-card-public-events">
    <div class=" ">
     
      <div class="card-avalible ">
       
        <div class="card-public-texts">
          
          <h5 class="card-title">Evento Bienvenida Pregrado 2024-1</h5>
        
        
          <p class="card-text"><strong>Descripción:</strong> Bienvenida para todos los jóvenes de pregrado</p>
          <p class="card-text2"><strong>Categoría del evento:</strong> Charla</p>
          <p class="card-text3"><strong>Lugar:</strong> Edificio de derecho</p>
          <p class="card-text4"><strong>Fecha:</strong> 01/02/2024</p>
          
        </div>


        <div class="col-md-5 card-events-public-img">
          <img  src="../../../assets/img-home/derechofacultad.png" class="img-fluid rounded-start  img-public" alt="...">
        </div>
        
      </div>
    </div>
  </div>

</div>
 



