.contenedor{
    background: url('../../assets/backgrounds/FondoConFigurasNegras.jpeg'); 
    margin-bottom: 20px;
}


.cardsmiseventos {
    margin-top: 30px;
}

.events-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan a una nueva línea cuando no haya suficiente espacio */
    justify-content: center; /* Distribuir uniformemente los elementos en el contenedor */
    align-items: center;
    gap: 5px;
}

.Titulo{
    font-family: 'approach-black';
    font-size: 2rem;
    text-align: center;
    margin-top: 30px;
}
.MensajeVacio{
    text-align: center;
    font-family: 'approach-regular';
    margin-top: 30px;
    font-size: 1.5rem;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 1.6;
}
.pagination{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 5px;
    font-family: 'approach-regular';
}
.PreviousButton {
    background-color: #0b28cb;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    height: auto;
    font-family: 'approach-black';
  }
  
.PreviousButton:hover {
    background-color: #868282;
    color: black;
}
.NextButton {
    background-color: #a1cb0b;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    height: auto;
    font-family: 'approach-black';
  }
  
.NextButton:hover {
    background-color: #a7a3a3;
    color: black;
}

