.contenedor{
    background: url('../../assets/backgrounds/FondoConFigurasNegras.jpeg'); 
    margin-bottom: 20px;
}


.cardsmiseventos {
    margin-top: 30px;
}

.events-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan a una nueva línea cuando no haya suficiente espacio */
    justify-content: center; /* Distribuir uniformemente los elementos en el contenedor */
    align-items: center;
    gap: 5px;
}

.Titulo{
    font-family: 'approach-black';
    font-size: 2rem;
    text-align: center;
    margin-top: 30px;
}
