
<div class="not-found-container">


<div class="Main404">
  <div class="error-flex">
    <div class="errosFont">
      <div class="errorTitle">
        <h1>404</h1>
        <h2>Página no encontrada</h2>
      </div>
      <div class="errorTct margin15px">
        <p>
          Lo sentimos, la página que estás buscando no existe. Si crees que esto es un error, por favor contáctanos.
        </p>
      </div>
    </div>
    <div class="errorA margin15px">
      <a href="#" id="errorButton" class="contacUs">
        Contáctanos
      </a>
      <a href="#" id="errorButton" class="backHome">
        Regresar al inicio
      </a>
    </div>
  </div>
</div>



<div class="Astronaut">
  <img src="../../assets/img-notfoundPage/astroLost.png" alt="Astronaut Cartoon Lost">
</div>

<div class="earth">
  <img src="../../assets/img-notfoundPage/earth.png" alt="Tierra animada">
</div>
</div>