<app-navbar></app-navbar>

<table class="table">
    <thead>
      <tr>
        <th style="background-color: #a1cb0b;">Nombre</th>
        <th style="background-color: #a1cb0b;">Apellido</th>
        <th style="background-color: #a1cb0b;">Email</th>
        <th style="background-color: #a1cb0b;">Foto de Perfil</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let persona of users">
        <td>{{ persona.nombre }}</td>
        <td>{{ persona.apellido }}</td>
        <td>{{ persona.email }}</td>
        <td><img [src]="persona.imageUrl" alt="Imagen de {{ persona.nombre }}"></td>
        <td><i class="fas fa-trash-alt" (click)="deleteUser(persona.id)"></i></td>
      </tr>
    </tbody>
</table>

<div class="pagination">
    <button (click)="prevPage()" [disabled]="page === 1">Anterior</button>
    <button (click)="nextPage()" [disabled]="page === totalPages">Siguiente</button>
</div>

<app-footer></app-footer>
  