


@font-face {
    font-family: "approach-light";
    src: url("../app/fonts/approach-light.otf") format('opentype');
}

@font-face {
    font-family: "approach-light-italic";
    src: url("../app/fonts/approach-light-italic.otf") format('opentype');
}

@font-face {
    font-family: "approach-black";
    src: url("../app/fonts/approach-black.otf") format('opentype');
}
@font-face {
    font-family: "approach-black-italic";
    src: url("../app/fonts/approach-black.otf") format('opentype');
}
@font-face {
    font-family: "approach-regular";
    src: url("../app/fonts/approach-regular.otf") format('opentype');
}


@font-face {
    font-family: "approach-bold";
    src: url("../app/fonts/approach-bold.otf") format('opentype');
}


@font-face {
    font-family: "approach-bold-italic";
    src: url("../app/fonts/approach-bold-italic.otf") format('opentype');
}

@font-face {
    font-family: "approach-medium";
    src: url("../app/fonts/approach-medium.otf") format('opentype');
}