


<div class="fullWidthBackground">
  <div class="containerLog">
    <br />
    <br />

    <div class="card divcard">
      <div>
        <div class="card-body">
          <div>
            <h2 class="Title-login">
              Bienvenido - Inicia Sesión
            </h2>
          </div>
      
          <div class="contInput1 ">
                <form (ngSubmit)="login()">
                  <label    class="label-email"  for="username">Correo:</label>

                  <div class="container-inputs">
                    <input    class="input1"  placeholder="Ingresa tu correo"  type="text" id="username" name="username" [(ngModel)]="correo" required>
                  </div>
                
                  
                  <label class="label-password"for="password">Contraseña:</label>

                <div class="container-inputs">
                  <input    class="input2"     placeholder="Ingresa tu contraseña" type="password" id="password" name="password" [(ngModel)]="password" required><br>
                  
                  <a routerLink="/forgotpassword" class="forgot-password">¿Olvidaste tu contraseña?</a>
                </div>

                 <div class="button-container">
                  <button   class="btnLogin btn"  type="submit">Iniciar Sesión</button>
                 </div>
                  
                </form>          
            <br />
            <p class="text-recovery">¿No tienes cuenta?
              <a routerLink="/singup" class="RecoverPassword">
                Regístrate
              </a>
            </p>
         
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

