


<div class="fullWidthBackground">
  <div class="containerLog">
    <br />
    <br />

    <div class="card divcard">
      <div>
        <div class="card-body">
          <div>
            <h2 class="Title-login">
              Bienvenido - Ingresa sesión
            </h2>
          </div>
      
          <div class="contInput1">
            <form  class="formUser">
              <label class="label-email" for="email">
                Email
              </label>

              <input
                id="email"
                type="email"
                name="email"
                placeholder="Correo"
                class="form-control input2"
                aria-label="email"    
                autocomplete="email"
         
              />

              <br />
              <label for="password" class="label-password">
                Contraseña
              </label>
              <input
                id="password"
                type="password"
                placeholder="Ingresa tú constraseña"
                class="form-control input2"
                aria-describedby="trash-desc"
                name="password"
                required
                autocomplete="current-password"
              />

            <div class="link-forgotPassword"> 
               <a routerLink="/forgotpassword" class="RecoverPassword">
                   ¿Has olvidado tú contraseña?
               </a>
            </div>
              <div class="button-container">
                <button type="submit" class="btn btnLogin">
                  Ingresa
                </button>
              </div>  
            <br />
            </form>
            <br />
            <p class="text-recovery">¿No tienes cuenta?,
              <a routerLink="/SignUp" class="RecoverPassword">
                registrate
              </a>
            </p> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

