
app-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    opacity: 0.9;  
  }
  .video-container {
    position: relative;
    z-index: 1; 
    opacity: 0.9; 
  }
  .video {
    width: 100%;
    height: auto;
  }
  .contenido {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .superpuesta {
    max-width: 100%;
    max-height: 100%;
  }
.container-cards-facultad{
 margin-left: 9%;
 margin-top: 5%;
 width: 90%;
 align-items: center ;
height: 100%;
}
.card-facultad{
    width: 222px;
}
.title-card{
    font-family: 'ancizar-italic';
}
.card-img-top{
    width: 220px;
    height: 200px;
}
.facultad-tittle{
    margin-top: 5%;
    margin: 3%;
    text-align: center;
    font-family:"approach-italic";
}

.explanation{
  margin-top: 5%;
  margin: 3%;
  font-size: 150%;
  text-align: center;
  font-family:"approach-italic";

}
.card-events{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:16px;
    margin: 5%;
    cursor: pointer;
}
.main-tittle{
    text-align: center;
    font-family:"approach-italic";
    margin-top: 15%;
}
.card-categories{
    border-color: rgb(222, 212, 212);
    width: 50%;
    height: 30%;
    margin-top: 7%;
    padding: 10px;
    font-size: 150%;
    font-family: 'approach-italic';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
 .card-categories h6{
  font-size: 150%;
  font-family: 'approach-italic';
  margin-bottom: 2%;

 }
.card{
   display: grid;
   place-items: center;
}

@media screen and (max-width: 1200px) {
  
  .container-cards-facultad{
    height: 1200;
    grid-template-columns: repeat(2,1fr);
  
   
}
}

@media screen and (max-width: 780px) {
  

  .container-cards-facultad{
 
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 60%;
   
}
.main-tittle{
  margin-top: 1500px;
}
.card-categories{
  margin-top: 30%;
}
.events{
  margin-top: 60%;
}
}

