<app-navbar *ngIf="!isAdmin"></app-navbar>
<app-navbar-admin *ngIf="isAdmin"></app-navbar-admin>

<div class="video-container">
  <video autoplay muted loop playsinline preload id="video-background" class="video">
    <source src="../../../assets/img-home/UNALVIDEO.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>

    <div class="contenido">
        <img src="../../../assets/img-home/UNeventoBlanco.png" alt="" class="superpuesta">
        <div class="information">
          <a href="/aboutus" target="_blank" class="no-style-link">
            <p id="welcome-text">¡Bienvenido!
              Somos una plataforma web que centraliza y facilita la organización y difusión de eventos académicos, culturales y deportivos en la Universidad Nacional de Colombia, sede Bogotá.
            </p>
          </a>
        </div>
    </div>
</div>



<h1 class="facultad-tittle">Eventos por Facultad y/o Auditorio </h1>
<p class="explanation">Seleccione algunas de las siguientes opciones para consultar los eventos disponibles:</p>
<div class="container-cards-facultad">
  <app-card-faculties (facultySelected)="handleFacultySelection($event)"></app-card-faculties>
</div>
<div class="contenedor-bienestar">
  <p>Bienestar</p>
</div>
<app-card-bienestar class="app-card-bienestar" (BienestarSelected)="handleFacultySelection($event)"></app-card-bienestar>
<div *ngIf="isLoggedin(); else NoLoggedIn">
<div class="events">
  <h1 class="main-tittle">Eventos disponibles Universidad Nacional de Colombia</h1>
  <h1 class="main-tittle"><strong>{{ formattedFaculty }}</strong></h1> <!-- Aquí se muestra el nombre de la facultad seleccionada -->

<div class="container cards-eventos">
  <!-- <ng-container *ngIf="events && events.content.length > 0; else noEvents"> -->
    <div class="wrap">
        <app-card-event *ngFor="let event of events.content" [data]="event"></app-card-event>
   </div>
<!-- </ng-container> -->  
  <div class="NoContent" *ngIf="(formattedFaculty.trim() == '')">
      <div class="TextNoContent">
          <p class="MensajeVacio">Por favor, seleccione una facultad para mostrar los eventos correspondientes.</p>
      </div>
      <div class="ImageNoContent">
          <img src="../../assets/backgrounds/AdvertenciaPagina.png">
      </div>
  </div>


 
  </div>
</div>
</div>
<ng-template #NoLoggedIn>
  <div class="NoContent">
      <div class="TextNoContent">
          <p class="MensajeVacio">No has Iniciado Sesión actualmente, por favor inicie sesión para poder hacer uso de los servicios ofrecidos por UNevento.</p>
      </div>
      <button class="btn-login" routerLink="/login">Iniciar Sesión</button>
  </div>
</ng-template>

<app-footer></app-footer>
<router-outlet></router-outlet>