<app-navbar></app-navbar>

<div class="video-container">
  <video autoplay muted loop playsinline preload id="video-background" class="video">
    <source src="../../../assets/img-home/UNALVIDEO.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>



    <div class="contenido">
        <img src="../../../assets/img-home/UNeventoBlanco.png" alt="" class="superpuesta">
    </div>
</div>


<h1 class="facultad-tittle">Eventos por Facultad</h1>
<div class="container-cards-facultad">

  <div class="card card-facultad" >
    <img src="../../../assets/img-home/Viejo.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h4 class="title-card">Facultad de Ingeniería.</h4>
    </div>
  </div>

  <div class="card card-facultad" >
    <img src="../../../assets/img-home/FacultadCiencias.JPG" class="card-img-top" alt="...">
    <div class="card-body">
      <h4 class="title-card">Facultad de Ciencias.</h4>
    </div>
  </div>

  <div class="card card-facultad" >
    <img src="../../../assets/img-home/Facultad Humanas.JPG" class="card-img-top" alt="...">
    <div class="card-body">
      <h4 class="title-card">Facultad de Ciencias Humanas.</h4>
    </div>
  </div>


  <div class="card card-facultad" >
    <img src="../../../assets/img-home/economicas.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h4 class="title-card">Facultad de Ciencias Económicas.</h4>
    </div>
  </div>


  <div class="card card-facultad" >
    <img src="../../../assets/img-home/Facultad Agraria.JPG" class="card-img-top" alt="...">
    <div class="card-body">
      <h4 class="title-card">Facultad de Ciencias Agrarias.</h4>
    </div>
  </div>

  <div class="card card-facultad" >
    <img src="../../../assets/img-home/Facultad Medicina.JPG" class="card-img-top" alt="...">
    <div class="card-body">
      <h4 class="title-card">Facultad de Medicina.</h4>
    </div>
  </div>

  <div class="card card-facultad" >
    <img src="../../../assets/img-home/Facultad Odontologia.JPG" class="card-img-top" alt="...">
    <div class="card-body">
      <h4 class="title-card">Facultad de Odontología.</h4>
    </div>
  </div>

  <div class="card card-facultad" >
    <img src="../../../assets/img-home/Facultad Veterinaria.JPG" class="card-img-top" alt="...">
    <div class="card-body">
      <h4 class="title-card">Facultad de Medicina Veterinaria y de Zootecnia.</h4>
    </div>
  </div>


<div class="card card-facultad" >
  <img src="../../../assets/img-home/Facultad Derecho.JPG" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="title-card">Facultad de Derecho, Ciencias Politicas y Sociales.</h4>
</div>
</div>



<div class="card card-facultad" >
  <img src="../../../assets/img-home/Facultad Artes.JPG" class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="title-card">Facultad de Artes.</h4>
  </div>
</div>

</div>

  <h1 class="main-tittle">Eventos disponibles Universidad Nacional de Colombia</h1>

<div class="card card-categories">
    <h6 >Filtrar por categorías</h6>
    <select (change)="onCategoryChange($event)">
        <option value="conferencia">Conferencia</option>
        <option value="taller">Taller</option>
        <option value="">Concierto</option>
        <option value="">Deporte</option>
        <option value="">Charla</option>
        <option value="">Inducción</option>
        <option value="">Compartir</option>
        <option value="">Debate</option>
        <option value="">Asamblea</option>
        <option value="">Paro estudiantil</option>
        <option value="">Espectáculos de danza o teatro </option>
        <option value="">Proyecciones de películas </option>
        <option value="">Juegos amistosos</option>
        <option value="">Religiosos y espirituales</option>

    </select>
</div>

<app-card-event></app-card-event>
<app-footer></app-footer>
<router-outlet></router-outlet>