
app-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    opacity: 0.9;  
  }


  .wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5%;
    padding: 24px;
    flex-wrap: wrap;
   
  }

.NoContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'approach-regular';
    margin: 20px;
}

.btn-login {
  background-color: #a1cb0b;
  color: #ffffff;
  width: auto;
  border-radius: 5px;
  border: none;
  transition: all 0.3s ease;
  font-family: 'approach-bold';
  padding: 10px;
  box-shadow: 0px 5px 5px #a1cb0b;
  margin-bottom: 5px;
}

.btn-login:hover {
  background-color: #ffffff;
  color: #a1cb0b;
  box-shadow: 0px 15px 25px #a1cb0b;
}

  
  .video-container {
    position: relative;
    z-index: 1; 
    opacity: 0.9; 
  }

  .video {
    width: 100%;
    height: auto;
  }
  .contenido {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .superpuesta {
    max-width: 100%;
    max-height: 100%;
  }
.container-cards-facultad{
 margin-left: 9%;
 margin-top: 5%;
 width: 90%;
 align-items: center ;
height: 100%;
}
.card-facultad{
    width: 222px;
}
.title-card{
    font-family: 'ancizar-italic';
}
.card-img-top{
    width: 220px;
    height: 200px;
}
.facultad-tittle{
    margin-top: 5%;
    margin: 3%;
    text-align: center;
    font-family:"approach-regular";
}

.app-card-bienestar {
  margin-left: 20%;
}

.explanation{
  margin-top: 5%;
  margin: 3%;
  font-size: 150%;
  text-align: center;
  font-family:"approach-regular";

}
.card-events{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:16px;
    margin: 5%;
    cursor: pointer;
}
.main-tittle{
    text-align: center;
    font-family:"approach-regular";
    margin-top: 5%;
}
.contenedor-bienestar {
  margin-top: 10%;
  background-color: #98d119;
  color: rgb(255, 255, 255);
  height: 20vh;
  width: 100%;
  z-index: 1;
  text-align: center;
  line-height: 20vh; /* Para centrar verticalmente el texto */
  position: relative;
  overflow: hidden; /* Para ocultar las líneas adicionales que se desborden */
  & p {
    z-index: 1;
    font-size: 10em;
    font-family: approach-bold;


  
 }
}



  
 .card-categories h6{
  font-size: 150%;
  font-family: 'approach-italic';
  margin-bottom: 2%;

 }
.card{
   display: grid;
   place-items: center;
}

@media screen and (max-width: 1200px) {
  
  .container-cards-facultad{
    height: 1200;
    grid-template-columns: repeat(2,1fr);
  
   
}
}

@media screen and (max-width: 780px) {
  
  .contenedor-bienestar{
    margin-top: 5%;
    height: 15vh;
    z-index: 2;
    & p {
      font-size: 5em;
    }
  
  }

  .container-cards-facultad{
 
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 80%;
   
}

.card-categories{
  margin-top: 30%;
}

}

