<app-navbar *ngIf="!isAdmin"></app-navbar>
<app-navbar-admin *ngIf="isAdmin"></app-navbar-admin>

<div class="video-container">
  <video autoplay muted loop playsinline preload id="video-background" class="video">
    <source src="../../../assets/img-home/UNALVIDEO.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>

    <div class="contenido">
        <img src="../../../assets/img-home/UNeventoBlanco.png" alt="" class="superpuesta">
    </div>
</div>



<h1 class="facultad-tittle">Eventos por Facultad y/o Auditorio </h1>
<p class="explanation">Seleccione algunas de las siguientes opciones para consultar los eventos disponibles:</p>
<div class="container-cards-facultad">
  <app-card-faculties (facultySelected)="handleFacultySelection($event)"></app-card-faculties>
</div>
<div class="contenedor-bienestar">
  <p>Bienestar</p>
</div>
<app-card-bienestar class="app-card-bienestar" (BienestarSelected)="handleFacultySelection($event)"></app-card-bienestar>
<div *ngIf="isLoggedin(); else NoLoggedIn">
<div class="events">
  <h1 class="main-tittle">Eventos disponibles Universidad Nacional de Colombia</h1>
  <h1 class="main-tittle">{{ formattedFaculty }}</h1> <!-- Aquí se muestra el nombre de la facultad seleccionada -->

<div class="container cards-eventos">
  <!-- <ng-container *ngIf="events && events.content.length > 0; else noEvents"> -->
    <div class="wrap">
        <app-card-event *ngFor="let event of events.content" [data]="event"></app-card-event>
   </div>
<!-- </ng-container> -->  
  <div class="NoContent" *ngIf="(formattedFaculty.trim() == '')">
      <div class="TextNoContent">
          <p class="MensajeVacio">Por favor, seleccione una facultad para mostrar los eventos correspondientes.</p>
      </div>
      <div class="ImageNoContent">
          <img src="../../assets/backgrounds/AdvertenciaPagina.png">
      </div>
  </div>


 
  </div>
</div>
</div>
<ng-template #NoLoggedIn>
  <div class="NoContent">
      <div class="TextNoContent">
          <p class="MensajeVacio">No has Iniciado Sesión actualmente, por favor inicie sesión para poder hacer uso de los servicios ofrecidos por UNevento.</p>
      </div>
      <button class="btn-login" routerLink="/premium">Iniciar Sesión</button>
  </div>

  <script>
    (function (w, d, s, o, f, js, fjs) {
      w["botsonic_widget"] = o;
      w[o] =
        w[o] ||
        function () {
          (w[o].q = w[o].q || []).push(arguments);
        };
      (js = d.createElement(s)), (fjs = d.getElementsByTagName(s)[0]);
      js.id = o;
      js.src = f;
      js.async = 1;
      fjs.parentNode.insertBefore(js, fjs);
    })(window, document, "script", "Botsonic", "https://widget.writesonic.com/CDN/botsonic.min.js");
    Botsonic("init", {
      serviceBaseUrl: "https://api-azure.botsonic.ai",
      token: "7c80e7d0-05e0-4527-96b0-821ae7941538",
    });
  </script>

<app-footer></app-footer>
<router-outlet></router-outlet>