<div class="custom-modal">
  <ng-container *ngIf="codigoVerificado; else verificacionCodigo">
    <!-- Contenido del modal con campos de contraseña -->
    <div mat-dialog-content class="container-input-code">
      <label for="">Ingresa la nueva contraseña</label>
      <br/>
      <mat-form-field class="example-full-width">
        <mat-label class="div-code">Contraseña*</mat-label>
        <input matInput [type]="password1Visible ? 'text' : 'password'" placeholder="" class="input-code" [(ngModel)]="password1">
        <button mat-icon-button tabindex="-1" matSuffix (click)="password1Visible = !password1Visible">
          <mat-icon>{{ password1Visible ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div mat-dialog-content class="container-input-code">

      <label for=""> Confirmar contraseña</label>
      <br/>
      <mat-form-field class="example-full-width"> 
        <mat-label class="div-code">Confirmar Contraseña*</mat-label>
        <input matInput [type]="password2Visible ? 'text' : 'password'" placeholder="" class="input-code" [(ngModel)]="password2">
        <button mat-icon-button tabindex="-1" matSuffix (click)="password2Visible = !password2Visible">
          <mat-icon>{{ password2Visible ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div mat-dialog-actions class="container-verificar">
      <button class="btn button-verificar" (click)="submitPassword()">Enviar Contraseña</button>
    </div>
  </ng-container>






  
  <ng-template #verificacionCodigo>
    <!-- Contenido del modal para verificar el código -->
    <br/>
    <h2 mat-dialog-title class="h2-code">Ingresa el código de verificación enviado al Correo:</h2>
    <br/>
    <p class="p-user-code">{{ userData.correo }}</p>
    <br/>
    <br/>
    <div mat-dialog-content class="container-input-code">
      <mat-form-field class="example-full-width">
        <mat-label class="div-code">Código de 6 dígitos*</mat-label>
        <input matInput placeholder="" value="" class="input-code" maxlength="6" [(ngModel)]="verificationCode">
      </mat-form-field>
    </div>
    <div mat-dialog-actions class="container-verificar">
      <button class="btn button-verificar" (click)="verifyCode()">Verificar</button>
    </div>
  </ng-template>
</div>
