
.whole {
    position: fixed;
    background-image: url('../../assets/backgrounds/FondoCirculos.jpeg');
    background-size: cover;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}

.container {
    margin-top: 40px;
  }
  
  .row {
    font-family: 'approach-regular';
    padding: 20px;
    border-radius: 10px;
  }
  
  h2 {
    font-size: 60px;
    font-family: 'approach-bold';
    line-height: 1;
  }
  
  p {
    font-size: 25px;
    line-height: 1.25;
    margin-bottom: 10px;
  }
  
  img {
    text-align: center;
   
    height: auto;
    border-radius: 10px;
    vertical-align: middle;
    width: 100%;
  }
  
  .btn-primary {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'approach-bold';
  }
  
  app-footer {
    min-height: 100vh;
  }