<div>
    <button id="toggleButton" (click)="toggleIframe()">{{ buttonLabel }}</button>
    <div id="iframeContainer" #iframeContainer>
      <iframe style="height:100vh;width:100vw" frameBorder="0" 
              src="https://widget.writesonic.com/CDN/index.html?service-base-url=https%3A%2F%2Fapi-azure.botsonic.ai&token=7c80e7d0-05e0-4527-96b0-821ae7941538&base-origin=https%3A%2F%2Fbot.writesonic.com&instance-name=Botsonic&standalone=true&page-url=https%3A%2F%2Fbot.writesonic.com%2Fbots%2F5b1f4116-88c7-4aa9-bbc8-e5366585d2cd%2Fintegrations">
      </iframe>
    </div>
  </div>
  
