<app-navbar-admin></app-navbar-admin>

<table class="table">
    <thead>
      <tr>
        <th style="background-color: #a1cb0b; text-align:center;">Nombre</th>
        <th style="background-color: #a1cb0b; text-align:center;">Lugar</th>
        <th style="background-color: #a1cb0b; text-align:center;">Capacidad</th>
        <th style="background-color: #a1cb0b; text-align:center;">Categoría</th>
        <th style="background-color: #a1cb0b; text-align:center;">Fecha</th>
        <th style="background-color: #a1cb0b; text-align:center;">Hora</th>
        <th style="background-color: #a1cb0b; text-align:center;">Descripcion</th>
        <th style="background-color: #a1cb0b; text-align:center;">Imagen</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let evento of events">
        <td>{{ evento.nombre }}</td>
        <td>{{ evento.lugar }}</td>
        <td>{{ evento.capacidad }}</td>
        <td>{{ evento.categoria }}</td>
        <td>{{ evento.fecha }}</td>
        <td>{{ evento.hora }}</td>
        <td>{{ evento.descripcion }}</td>
        <td><img [src]="evento.imagenUrl" alt="Imagen de {{ evento.nombre }}" class="ImagenEvento"></td>
        <td><i class="fas fa-trash-alt" (click)="deleteEvent(evento.id)"></i></td>
      </tr>
    </tbody>
</table>

<div class="pagination">
    <button (click)="prevPage()" [disabled]="page === 1">Anterior</button>
    <button (click)="nextPage()" [disabled]="page === totalPages">Siguiente</button>
</div>

<app-footer></app-footer>
  
