


<div class="fullWidthBackground">
  <div class="containerForgot">
    <br />
    <br />

    <div class="card divcard" (mouseover)="changeColor($event)">
      <div>
        <div class="card-body">
          <div>
            <h2 class="Title-login">
                Recuperar Contraseña
            </h2>
          </div>
      
          <div class="contInput1">
            <form  class="formUser">
              <p class="subtittle">-Ingrese el email registrado con su cuenta-</p>
              <label class="label-email" for="email">
                Email
              </label>

              <input
                id="email"
                type="email"
                name="email"
                placeholder="Correo"
                class="form-control input2"
                aria-label="email"    
                autocomplete="email"/>
              <br />
              <div class="button-container">
                <button type="submit" class="btn btnLogin">
                  Recuperar
                </button>
              </div>  
            <br />
            </form>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





















<!-- <div class="card">
    <div class="card-body">
      <h5 class="card-title">Recuperar Contraseña</h5>
   -->
      <!-- Paso 1: Solicitar restablecimiento de contraseña -->
      <!-- <div *ngIf="!code">
        <form (ngSubmit)="requestPasswordReset()">
          <div class="form-group">
            <label for="email">Correo Electrónico:</label>
            <input type="email" class="form-control" id="email" required>
          </div>
          <button type="submit" class="btn btn-primary">Enviar Solicitud</button>
        </form>
      </div> -->
  
      <!-- Paso 2: Verificar código y restablecer contraseña -->
      <!-- <div *ngIf="code">
        <form (ngSubmit)="verifyCode()">
          <div class="form-group">
            <label for="verificationCode">Código de Verificación:</label>
            <input type="text" class="form-control" id="verificationCode"  required>
          </div>
          <div class="form-group">
            <label for="newPassword">Nueva Contraseña:</label>
            <input type="password" class="form-control" id="newPassword"  required>
          </div>
          <button type="submit" class="btn btn-success">Verificar y Restablecer</button>
        </form>
      </div>
    </div>
  </div>  -->