@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
	color: #000000;
} 

/* Login styles */
.containerForgot {
    background-size: cover; /* La imagen se escala para cubrir todo el contenedor sin distorsionarse */
    background-position: center; /* La imagen se centra dentro del contenedor */
    height: 100%;
    position: absolute;
    width: 100%;
	margin-left: 20%;
}

.subtittle{
    font-family: "ancizar-bold";
    text-align: center;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 10%;
    color: gray;
	font-size: 120%;
}

.fullWidthBackgroundForgot {

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
  } 
  .divcard {
    margin: auto auto;
    margin-top: 7%;
    width: 30%;
    height: 60%;
    background-color: rgba(255, 255, 255); /* Establece el color de fondo con opacidad */
  
}

.divcard::before {

    opacity: 0.1; /* Establece la opacidad del fondo */
}




.Title-login{
	font-family: "ancizar-bold";
	margin: 5% 0 10% 0;
	font-size: 250%;
	text-align: center;
	justify-content: center;
}

.label-email{
	margin-left: 5%;
	height: 100%;
	font-size: 150%;
	font-family: "ancizar-bold";
}
.label-password{
	margin-left: 8%;
	font-family: "ancizar-italic";
}

.input1, .input2 {
	width: 90%;
	height: 70%;
	justify-content: center;
	margin: 3% 0 10% 5%; 
	
}

.button-container{
	text-align: center;	
}

.btnLogin{
	width: 80%;
	height:50%;
	background-color: #000;
	color: #ffffff;
	margin: auto auto;
}

.btnLogin:hover{
	background-color: #515151;
	color: rgb(255, 255, 255);
}

.Title-login:hover{
	color: #a1cb0b;
	
}



/* Aquí puedes agregar estilos para pantallas más pequeñas */
@media only screen and (max-width: 900px) {
	
	.divcard {
	width: 92%;
	height: 80%;
	}
  


}
.fullWidthBackground {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: #a1cb0b ;

  } 
  .squert{
	position: fixed;
	top: 0;
	left: 0;
	width: 30%;
	margin-left: 15%;
	margin-top: 8%;
	height: 50%;	
	background-size: cover; /* La imagen se escala para cubrir todo el contenedor sin distorsionarse */
    background-position: center; /* La imagen se centra dentro del contenedor */
  
    position: absolute;
	z-index: 1;

	background-image: url(../../assets/img-forgot-password/UNTransp.png) 
  }
  .squert1{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	margin-left: 2%;
	margin-top: 60%;
	height: 50%;	
	background-size: cover; /* La imagen se escala para cubrir todo el contenedor sin distorsionarse */
    background-position: center; /* La imagen se centra dentro del contenedor */
  
    position: absolute;
	z-index: 1;

	background-image: url(../../assets/img-forgot-password/Evento.png) 
  }
  .unevento{
	margin-top: 300%;
  }