<div class = "fullWidthBackground">
  <div class="container">
  <div class="unevento">
  <div class="squert">
    <div class="squert1">
      <div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="fullWidthBackgroundForgot">
        <div class="containerForgot">
          <br />
          <br />
          <div class="card divcard" >
            <div>
              <div class="card-body">
                <div>
                  <h2 class="Title-login">
                    Recuperar Contraseña
                  </h2>
                </div>
                <div class="contInput1">
                  <form class="formUser">
                    <p class="subtittle">-Ingrese el email registrado con su cuenta-</p>
                    <label class="label-email" for="email">
                      Correo
                    </label>
                    <input
                      id="email"
                      type="email"
                      name="email"
                      placeholder="Correo"
                      class="form-control input2"
                      aria-label="email"
                      autocomplete="email"/>
                    <br />
                    <div class="button-container">
                      <button type="submit" class="btn btnLogin">
                        Recuperar
                      </button>
                    </div>
                    <br />
                  </form>
                  <br />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>