@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
	color: #000000;
} 

/* Login styles */
.containerForgot {
    background-image: url('./img-forgot-password/leondegreiff.jpg');
    background-size: cover; /* La imagen se escala para cubrir todo el contenedor sin distorsionarse */
    background-position: center; /* La imagen se centra dentro del contenedor */
    height: 100vh;
    position: absolute;
    width: 100%;
}

.subtittle{
    font-family: "ancizar-bold";
    text-align: center;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 10%;
    color: gray;
}

.fullWidthBackground {

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
  } 
  .divcard {
    margin: auto auto;
    margin-top: 7%;
    width: 30%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.9); /* Establece el color de fondo con opacidad */
}

.divcard::before {

    opacity: 0.1; /* Establece la opacidad del fondo */
}




.Title-login{
	font-family: "ancizar-bold";
	margin-bottom: 10%;
	text-align: center;
	justify-content: center;
}
.label-email{
	margin-left: 8%;
	font-family: "ancizar-italic";
}
.label-password{
	margin-left: 8%;
	font-family: "ancizar-italic";
}
.input1, .input2 {
	width: 85%;
	justify-content: center;
	margin: auto;
	margin-bottom: 20px;
}

.button-container{
	text-align: center;	
}
.btnLogin{
	width: 50%;
	background-color: #000;
	color: #fff;
	margin: auto auto;
}





/* Aquí puedes agregar estilos para pantallas más pequeñas */
@media only screen and (max-width: 767px) {
	
	.divcard {
	width: 92%;
	}
  


}
