<div class = "fullWidthBackground">
  <div class="container">
  <div class="unevento">
  <div class="container imagescontainer">
  <div class="squert"> </div>
    <div class="squert1"> </div>
  </div>
      <div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="fullWidthBackgroundForgot">
        <div class="containerForgot">
          <br />
          <br />
          <div class="card divcard" >
            <div>
              <div class="card-body">
                <div>
                  <h2 class="Title-login">
                    Recuperar Contraseña
                  </h2>
                </div>
                <div class="contInput1">
                  <form (ngSubmit)="submitForm()">
                    <p class="subtittle">-Ingrese el email registrado con su cuenta-</p>
                    <label class="label-email" for="email">
                      Correo
                    </label>
                    <input placeholder="Correo electrónico" class="input-forgot" name="correo" type="email" required [(ngModel)]="userData.correo">
                    <br />
                    <div class="button-container">
                      <button type="submit" class="btn btnLogin">
                        Recuperar
                      </button>
                    </div>
                    <br />
                  </form>
                  <br />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
