<app-navbar></app-navbar>
<div class="Contenedor">
    <h1 class="Titulo">Mis Asistencias a Eventos</h1>
    <div *ngIf="(eventsassist?.content?.length ?? 0) > 0; else noEvents">
        <div class="filter">
            Filtra los eventos por categoría:
            <select id="filter-categoria" class="filter-categoria" [(ngModel)]="OptionFilterCategoria">
                <option value=""></option>
                <option value="Actvidad_Cultural">Actividad Cultural</option>
                <option value="Actividad_Deportiva">Actividad Deportiva</option>
                <option value="Actividad_LudicoCreativa">Actividad Lúdico-Creativa</option>
                <option value="Actividad_Departamento">Actividad de Departamento</option>
                <option value="Asamblea">Asamblea</option>
                <option value="Charla">Charla</option>
                <option value="Concierto">Concierto</option>
                <option value="Congreso">Congreso</option>
                <option value="Conferencia">Conferencia</option>
                <option value="Curso">Curso</option>
                <option value="Debate">Debate</option>
                <option value="Espectaculo_de_danzas_o_teatro">Espectáculo de danzas o teatro</option>
                <option value="Introduccion">Introduccion</option>
                <option value="Networking">Networking</option>
                <option value="Proyeccion_de_peliculas">Proyección de películas</option>
                <option value="Religioso_y_Espiritual">Religioso y Espiritual</option>
                <option value="Seminario">Seminario</option>
                <option value="Taller">Taller</option>
                <option value="Otro">Otro</option>
            </select>
        </div>
        <div *ngIf="OptionFilterCategoria === ''; else EventsFilter">
            <ng-container *ngIf="eventsassist && eventsassist.content.length > 0; else noEvents">
                <ul class="events-list">
                    <li *ngFor="let event of eventsassist.content" class="event-item">
                        <app-card-my-assists [data]="event"></app-card-my-assists>
                    </li>
                </ul>
            </ng-container>
        </div>
        <ng-template #EventsFilter>
            <ul class="events-list">
            <ng-container *ngFor="let event of eventsassist.content">
                    <app-card-my-assists [data]="event" *ngIf="event.categoria === OptionFilterCategoria"></app-card-my-assists>
            </ng-container>
            </ul>
        </ng-template>
            <div class="pagination">
                <button class="PreviousButton" (click)="prevPage()" [disabled]="eventsassist.number === 0">< Anterior</button>
                <span>Página {{eventsassist.number + 1}} de {{eventsassist.totalPages}}</span>
                <button class="NextButton" (click)="nextPage()" [disabled]="eventsassist.number + 1 === eventsassist.totalPages">Siguiente ></button>
            </div>
    </div>
    <ng-template #noEvents>
        <div class="NoContent">
            <div class="TextNoContent">
                <p class="MensajeVacio">Hasta el Momento No Cuentas Con Asistencias a Eventos Vigentes.</p>
            </div>
            <div class="ImageNoContent">
                <img src="../../assets/backgrounds/AdvertenciaNoAsistencias.jpg">
            </div>
        </div>
    </ng-template>
</div>
<app-footer></app-footer>
