.Contenedor{
    background: url('../../assets/backgrounds/BlancoConRayas.jpg'); 
    margin-bottom: 20px;
}



.events-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan a una nueva línea cuando no haya suficiente espacio */
    justify-content: center; /* Distribuir uniformemente los elementos en el contenedor */
    align-items: center;
    gap: 5px;
}

.Titulo{
    font-family: 'approach-black';
    font-size: 2rem;
    text-align: center;
    margin-top: 30px;
}
.pagination{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 5px;
    font-family: 'approach-regular';
}
.PreviousButton {
    background-color: #0b28cb;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    height: auto;
    font-family: 'approach-black';
  }
  
.PreviousButton:hover {
    background-color: #868282;
    color: black;
}
.NextButton {
    background-color: #a1cb0b;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    height: auto;
    font-family: 'approach-black';
  }
  
.NextButton:hover {
    background-color: #a7a3a3;
    color: black;
}


.filter-categoria {
    height: 35px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: #333;
    background-color: #f8f8f8;
    font-family: 'approach-regular';
    justify-content: center;
    cursor: pointer;
    margin-bottom: 10px;
}


.filter-categoria:focus {
    outline: none;
    border-color: #007BFF;
    box-shadow: 0 0 5px #007BFF;
}


.filter{
    margin-left: 24px;
    margin-right: 24px;
    font-family: 'approach-regular';
    gap: 20px;
    justify-content: center;
    text-align: center;
}
.NoContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ImageNoContent img{
    width:50%;
    height: auto;
    border-radius: 10px;
}

.ImageNoContent{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.TextNoContent{
    width: 80%;
    border-radius: 5px;
    background-color: #f8f8f8;
    border: none;
    text-align: center;
}

.MensajeVacio{
    text-align: center;
    font-family: 'approach-regular';
    margin-top: 30px;
    font-size: 1.5rem;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 1.6;
    display: flex;
    align-items: center;
    justify-content: center;
}