/* .carousel-inner{
    height: 700px;
} */

.video-container {
    width: 100%;
    overflow: hidden;
}
.video{
   width: 100%;
  
}
.container-cards-facultad{
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap:16px;
    margin: 5%;
    cursor: pointer;
}
.card-facultad{
    width: 222px;
}
/* .container-ing{
    width: 200px;
    height: 100px;
    justify-content: center;
    text-align: center;
} */
.title-card{
    font-family: 'ancizar-italic';
}
.card-img-top{
    width: 220px;
    height: 200px;
}
.facultad-tittle{
    text-align: center;
    font-family:"ancizar-bold";
}
.card-events{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap:16px;
    margin: 5%;
    cursor: pointer;
}
.main-tittle{
    text-align: center;
    font-family:"ancizar-bold";
}
.card-categories{
    margin-left: 20px;
    border-color: rgb(222, 212, 212);
    width: 15%;
    padding: 10px;
    font-size: 10px;
}