<app-navbar></app-navbar>

<div class="container container-termns">
    <h1 class="termnsandconditions">Términos y condiciones</h1>
    <br><br>
    <p>
    Este acuerdo establece las condiciones generales para el uso del sitio web UNevento.com (en
    adelante "Sitio web" o "Servicio") y todos sus productos y servicios relacionados (en 
    conjunto, "Servicios"). Al acceder y utilizar el Sitio web y sus Servicios, usted acepta 
    cumplir con los términos de este acuerdo, que constituye un contrato legal entre usted y el 
    operador del sitio web.
    </p>
    
    <h1>Cuentas y membresía</h1>
    <br>
    <p>
    Para utilizar nuestros Servicios, debe tener al menos 13 años de edad. Si crea una cuenta en
    el Sitio web, es responsable de mantener la seguridad de su cuenta y debe notificarnos de 
    inmediato sobre cualquier actividad no autorizada. Nos reservamos el derecho de suspender o 
    eliminar su cuenta si viola este acuerdo o si su conducta daña nuestra reputación.
    </p>


    <h1>Contenido del usuario</h1>
    <br>
    <p>
    Usted es el único responsable del contenido que publique en el Sitio web. Nos reservamos el
    derecho de eliminar cualquier contenido que consideremos inapropiado o que viole este 
    acuerdo. Al publicar contenido en el Sitio web, nos otorga el permiso para utilizarlo con el
    fin de proporcionarle nuestros Servicios.
    </p>

    <h1>Pagos</h1>
    <br>
    <p>
    Algunos de nuestros Servicios pueden requerir pagos, como membresías premium o acceso a 
    funciones adicionales. Al realizar un pago, usted acepta pagar las tarifas aplicables y 
    acepta los términos de pago específicos que se le proporcionen. Los pagos son procesados a 
    través de terceros servicios de pago y están sujetos a sus propias políticas y términos. 
    Nosotros no almacenamos ni tenemos acceso a sus detalles de pago personales.
    </p>

    <h1>Copias de seguridad</h1>
    <br>
    <p>
    No somos responsables de mantener copias de seguridad de su contenido. Le recomendamos que 
    mantenga sus propias copias de seguridad para evitar la pérdida de datos.
    </p>

    <h1>Enlaces a otros recursos</h1>
    <br>
    <p>
    El Sitio web puede contener enlaces a recursos externos, pero no somos responsables de su 
    contenido. Su uso de estos recursos externos está sujeto a sus propios términos y 
    condiciones.
    </p>

    <h1>Usos prohibidos</h1>
    <br>
    <p>
    No está permitido utilizar nuestros Servicios con fines ilegales o para acosar, dañar o 
    discriminar a otros usuarios. Nos reservamos el derecho de suspender su cuenta si viola 
    estas condiciones.
    </p>

    <h1>Propiedad intelectual</h1>
    <br>
    <p>
    Todos los derechos de propiedad intelectual relacionados con el Sitio web y sus Servicios 
    son propiedad del operador del sitio web. No se le concede ningún derecho para reproducir o 
    utilizar nuestra propiedad intelectual sin nuestro permiso.
    </p>

    <h1>Indemnización</h1>
    <br>
    <p>
    Usted acepta indemnizar y eximir de responsabilidad al operador del sitio web y sus 
    afiliados por cualquier reclamo o costo derivado de su uso de nuestros Servicios.
    </p>

    <h1>Modificaciones</h1>
    <br>
    <p>
    Nos reservamos el derecho de modificar estos términos en cualquier momento. Le 
    notificaremos sobre cualquier cambio y su continuo uso de nuestros Servicios constituirá su
    aceptación de los nuevos términos.
    </p>

    <h1>Aceptación de estos términos</h1>
    <br>
    <p>
    Al acceder y utilizar el Sitio web y sus Servicios, usted acepta cumplir con estos términos
    y condiciones. Si no está de acuerdo con alguna parte de este acuerdo, no puede utilizar 
    nuestros Servicios.
    </p>

    <h1>Contacto</h1>
    <br>
    <p>
    Si tiene alguna pregunta o inquietud sobre este acuerdo, no dude en contactarnos en 
    https://Unevento.com/soporte o por correo electrónico a UNeventoUNAL&#64;gmail.com.
    </p>
</div>
<app-footer></app-footer>
