.CrearEvento {
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-image: url('../../assets/backgrounds/FondoconCirculo.jpeg');
  background-size: cover;
  z-index: 9999;
}

.Logo{
  width: 40%;
}
@media (max-width: 900px) {
  .Encabezado {
      flex-direction: column;
  }
  .Titulo{
      text-align: right;
  }
  form{
      flex-direction: column;
  }
  .TextForms, .ImageForms{
      width: 100% !important;
  }
}
h1{
  font-family: "approach-bold";
}

.Encabezado{
  display: flex;
  align-items: center;
}
.Titulo{
  width: 60%;
  text-align: center;
  height: 100%;
}

form{
  font-family: 'approach-regular';
  display: flex;
}
.TextForms{
  padding: 20px;
  width: 50%;
}
.ImageForms{
  width: 50%;
  cursor: pointer;
}

.Entrada{
  display: flex;
  gap: 20px;  /* Ajusta este valor según tus necesidades */
  margin-bottom: 10px;
}

label{
  font-family: 'approach-bold-italic';
  font-size: 20px;
  width: 150px;
}

textarea{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
}
select{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
}

input{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
}

.TextoArchivo{
  width: 100%;
}

/*Estilos Boton de Crear Evento*/
.btn-crear-evento {
  background-color: #a1cb0b;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  width: 100%; /* Modificado para ocupar el 100% del contenedor */
  font-family: 'approach-black';
}

.btn-crear-evento:hover {
  background-color: #8fb209;
}

.btn-crear-evento:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(161, 203, 11, 0.5);
}

.ImagenSeleccionada{
  margin-top: 10px;
}