




<app-navbar></app-navbar>

<div class="container container-premium">
    <div class="card">
      <p class="Title-plan">Plan Gratuito</p>
      <p class="heading">
        0$COP/mes 
      </p>
      <p>Incluye:</p>
      <p>
        <i class="bi bi-check2"></i> Publicación de 1 evento semanal
      </p>

      <p>
        <i class="bi bi-check2"></i> Una edición Gratuita del evento
      </p>
    </div>


    <div class="card">
        <p class="Title-plan">Pago por anuncio</p>
        <p class="heading">
          10.000$COP/mes 
        </p>
        <p>Incluye:</p>
        <p>
          <i class="bi bi-check2"></i> Publicación de 1 evento semanal
        </p>
  
        <p>
          <i class="bi bi-check2"></i> Una edición Gratuita del evento
        </p>
      </div>

      
    <div class="card">
        <p class="Title-plan">Plan Mediano</p>
        <p class="heading">
          20.000$COP/mes 
        </p>
        <p>Incluye:</p>
        <p>
          <i class="bi bi-check2"></i> Publicación de 1 evento semanal
        </p>
  
        <p>
          <i class="bi bi-check2"></i> Una edición Gratuita del evento
        </p>
      </div>

      <div class="card">
        <p class="Title-plan">Plan Premium</p>
        <p class="heading">
          50.000$COP/mes 
        </p>
        <p>Incluye:</p>
        <p>
          <i class="bi bi-check2"></i> Publicación de eventos ilimitados
        </p>
  
        <p>
          <i class="bi bi-check2"></i> Ediciones de eventos
        </p>

        <p>
            <i class="bi bi-check2"></i> Primeros puestos en los apartados de eventos
        </p>


      </div>





  </div>
  